@model IEnumerable<Captone.Models.Schedule>

@{
    ViewBag.Title = "Quản lý lịch trình xe và tuyến";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        <p>
            <i class="fa fa-plus-square"></i> @Html.ActionLink("Tạo mới lịch trình", "Create")
        </p>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Route.RouteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Coach.NumberPlate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstimateDepartureTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstimateArrivalTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstimateVolume)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Route.RouteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Coach.NumberPlate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimateDepartureTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimateArrivalTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimateVolume)
                        </td>
                        <td>
                            <a href="/Route/Edit/@item.ScheduleID"><i class="fa fa-edit fa-fw"></i></a>|
                            <a href="/Route/Details/@item.ScheduleID"><i class="fa fa-info fa-fw"></i></a>|
                            <a href="/Route/Delete/@item.ScheduleID"><i class="fa fa-minus-square fa-fw"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
