@model IEnumerable<Captone.Models.Station>

@foreach(var item in Model){
    <input type="hidden" value="@item.StationID"/>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="@item.Province">
            <div class="list-group">
                <div class="list-group-item" style="height: 100px">
                    <i class="fa fa-building-o fa-fw"></i> @item.StationName
                    <span class="pull-right text-muted small"><i class="fa fa-phone fa-fw"></i> @item.StationPhone</span>
                    <br/>
                     <div id="detail" >
                        @item.StationLocation
                    </div>
                </div>
            </div>
     
        </div>
    </div>
}
