@model Captone.Models.Stage

@{
    Layout = null;
}

<div>
    <strong>Tên chặng
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.StageName)
    </div>

    <br />
    <strong>Trạm đầu
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Station1.StationName)
    </div>

    <br />
    <strong>Trạm cuối
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Station.StationName)
    </div>

    <br />
    <strong>Thời gian nghỉ
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.BreakTime)
    </div>

    <br />
    <strong>Thời gian xe chạy
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <br />
    <strong>Quãng đường
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distance)
    </div>

    <br />
    <strong>Tỉ trọng tải hàng
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Container)
    </div>

    <br />
    <strong>Giá vận chuyển
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</div>
<br />
<p>
    <a href="/Stage/Edit/@Model.StageID">
        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
    </a>
    <a href="/Stage/Delete/@Model.StageID">
        <button type="button" class="btn btn-danger">Xóa chặng này </button>
    </a>
    <button type="button" class="btn btn-info" data-dismiss="modal">Quay lại danh sách</button>
</p>
