@model Captone.Models.CoachType

@{
    ViewBag.Title = "Xóa loại xe";
}

<fieldset>
    <legend>Bạn có muốn xóa loại xe @Model.Seats chỗ này ?</legend>
    <blockquote>
    <div class="display-label">
         @Html.LabelFor(model => model.Seats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seats)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Capacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>
    </blockquote>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="button" value="Quay lại danh sách" class="btn btn-info" onclick="window.location.href = '/CoachType/Index'" />
    </p>
}
