@model Captone.Models.CoachType

@{
    ViewBag.Title = "Loại xe";
}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>Thông tin loại xe</legend>
                    <blockquote>
                        <div class="display-label">
                            @Html.LabelFor(model => model.Seats)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Seats)
                        </div>
                        <div class="display-label">
                            @Html.LabelFor(model => model.Capacity)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Capacity)
                        </div>
                    </blockquote>
                </fieldset>
                <p>
                    <a href="/CoachType/Edit/@Model.CoachTypeID">
                        <input type="button" class="btn btn-primary" value="Chỉnh sửa thông tin" /></a>
                    <input type="button" value="Quay lại danh sách" class="btn btn-info" onclick="window.location.href = '/CoachType/Index'" />
                </p>
            </div>
        </div>
    </div>
</div>

