@model IEnumerable<Captone.Models.CoachType>
<script type="text/javascript" src="~/Content/TableJS/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Content/TableJS/KeyTable.js"></script>
@{
    ViewBag.Title = "Các loại xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <p>
                    <i class="fa fa-plus-square"></i>@Html.ActionLink("Thêm một loại xe", "Create")
                </p>
                <p>
                    <a href="~/Coach/Index"><i class="fa fa-list-alt">Danh sách xe </i></a>
                </p>
                <div>
                    @{
                        Captone.Models.CoachType coachType = new Captone.Models.CoachType();
                    }
                    @{
                        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                        grid.Pager(WebGridPagerModes.NextPrevious);}
                    <div id="gridContent" class="table-responsive">
                        @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    alternatingRowStyle: "alt",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                    grid.Column("Số ghế", format: (item) => item.GetSelectLink(item.Seats.ToString())),
                    grid.Column("Capacity", "Sức chứa")))
                        @if (grid.HasSelection)
                        {
                            coachType = (Captone.Models.CoachType)grid.Rows[grid.SelectedIndex].Value;
                            <p><b>Số ghế</b> @coachType.Seats</p>
                            <p><b>Sức chứa</b> @coachType.Capacity (m3)</p>
                            <p>
                                <a href="~/CoachType/Edit/@coachType.CoachTypeID">
                                    <button class="btn btn-info">Cập nhật</button></a>
                                <a href="~/CoachType/Delete/@coachType.CoachTypeID">
                                    <button class="btn btn-danger">Xóa</button></a>
                            </p>   
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

