@model IEnumerable<Captone.Models.ManageFee>

@{
    ViewBag.Title = "Quản lý phí";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function highlight(x) {
        x.style.backgroundColor = "yellow";
    }
    function reset(x) {
        x.style.backgroundColor = "white";
    }
</script>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-title">Mức phí vận chuyển</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table style="border: 2px; font-size: 14px" class="table">
                        <tr style="text-align: center; background: lightblue; color: cornflowerblue">
                            <th rowspan="2" style="width: 150px">ID</th>
                            <th rowspan="2" style="width: 150px">Mức phí</th>
                            <th colspan="2" style="width: 150px">Khối lượng</th>
                            <th colspan="2" style="width: 150px">Thể tích</th>
                            <th rowspan="2" style="width: 150px">Action</th>
                        </tr>
                        <tr style="background: lightblue; color: cornflowerblue">
                            <th>Từ</th>
                            <th>Đến</th>
                            <th>Từ</th>
                            <th>Đến</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr style="text-align: center" onmouseover="highlight(this)" onmouseout="reset(this)">
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.FeeID)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.Fee)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.MinWeight)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.MaxWeight)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.MinVolume)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.MaxVolume)
                                </td>
                                <td style="width: 120px">
                                    <a href="/Fee/Edit/@item.FeeID">
                                        <input type="image" src="~/Content/Images/Admin/icn_edit.png" title="Edit"></a>
                                    <a href="/Fee/Details/@item.FeeID"><i class="fa fa-info fa-fw"></i></a>|
                                    <a href="/Fee/Delete/@item.FeeID">
                                        <input type="image" src="~/Content/Images/Admin/icn_trash.png" title="Trash"></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


