@model Captone.Models.Route

@{
    ViewBag.Title = "Chi tiết tuyến";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>Thông tin chi tiết tuyến @Model.RouteName</legend>
                    <blockquote>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.RouteName)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.RouteName)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Station1.StationName)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Station1.StationName)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Station.StationName)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Station.StationName)
                        </div>

                        @*<div class="display-label">
         @Html.DisplayNameFor(model => model.AvgRateLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvgRateLevel)
    </div>*@

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Duration)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Duration)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Distance)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Distance)
                        </div>
                    </blockquote>
                </fieldset>
                <br />
                <p>
                    <a href="/Route/Edit/@Model.RouteID">
                        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
                    </a>
                    <a href="/Route/Index">
                        <button type="button" class="btn btn-info">Quay lại danh sách</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

