@using Captone.Controllers
@model IEnumerable<Captone.Models.Route>

@{
    ViewBag.Title = "Danh sách các tuyến";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <p>
                    <i class="fa fa-plus-square"></i>@Html.ActionLink("Tạo một tuyến mới", "Create")
                </p>
                <div>
                    @{
                        Captone.Models.Route route = new Captone.Models.Route();
                    }
                    @{
                        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                        grid.Pager(WebGridPagerModes.NextPrevious);}
                    <div id="gridContent" class="table-responsive">
                        @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                    grid.Column("Tuyến", format: (item) => item.GetSelectLink(item.RouteName.ToString())),
                    grid.Column("Station.StationName", "Trạm đầu"),
                    grid.Column("Station1.StationName", "Trạm cuối"),
                    grid.Column("Duration", "Thời gian chạy"),
                    grid.Column("Distance", "Quãng đường")

                    ))
                        @if (grid.HasSelection)
                        {
                            route = (Captone.Models.Route)grid.Rows[grid.SelectedIndex].Value;
                            <p><b>Tuyến:</b> @route.RouteName</p>
                            <p><b>Trạm đầu:</b> @route.Station.StationName</p>
                            <p><b>Trạm cuối:</b> @route.Station1.StationName</p>
                            <p><b>Thời gian chạy:</b> @route.Duration h</p>
                            <p><b>Quãng đường:</b> @route.Distance km</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
