@model Captone.Models.InvoiceModel

@{
    ViewBag.Title = "InputPayment";
    Layout = "~/Views/Shared/_LayoutNoMap.cshtml";
}
@if (Model.Invoice == null)
{
    <h4 style="color: orange">Yêu cầu của bạn vẫn chưa được nhập hóa đơn để thanh toán.</h4>
    <div>
       <button class="btn btn-success" style="margin-left: 10px" onclick=" window.location.href = '/Request/RequestCode?requestCode=@Model.Request.RequestCode' " title="Bấm vào để quay lại danh sách yêu cầu">Quay lại</button>
    </div>
}
else
{
    using (Html.BeginForm("ValidateCommand", "PayPal"))
    {
        <div class="col-lg-8">
            <div id="review">
            </div>
            <b><p class="pContent">Thông tin hóa đơn</p></b>
            <p></p>
            <div class="border" style="height: 500px">
                <div style="margin-left: 70px; margin-top: 25px;" >
                    <div class="each-field">
                        Mã giao dịch
                        <br />
                        <input type="text" name="item_name" id="RequestCode" class="form-control" value="@Model.Request.RequestCode" readonly="readonly"/>
                    </div>
                    <div class="each-field">
                        Khách hàng
                        <br />
                        <input type="text" name="first_name" id="Username" class="form-control" value="@Model.Request.Username" readonly="readonly"/>
                    </div>
                    <div class="each-field">
                        Khối lượng món hàng (kg)
                        <br />
                        <input type="text" name="weight" id="Weight" class="form-control" value="@Model.Invoice.Weight" readonly="readonly"/>
                    </div>
                    <div class="each-field">
                        Thể tích món hàng
                        <br />
                        <input type="text" name="volume" id="Volume"  class="form-control" value="@Model.Invoice.Volume" readonly="readonly"/>
                    </div>
                    <div class="each-field">
                        Giá món hàng (USD)
                        <input type="text" name="amount" id="Price" class="form-control" value="@Model.Invoice.Price" readonly="readonly"/>
                    </div>
                    <div class="each-field">
                        Ngày thanh toán
                        <input type="text" name="date" id="Day" class="form-control" value="@DateTime.Now.Date" readonly="readonly"/>
                    </div>
                    <div style="margin-left: 70px" >
                        <button type="submit" id="@Model.Request.RequestID" style="border: none; background: transparent" title="Bấm vào để chuyến đến trang Paypal" onclick=" Process(@Model.Invoice.RequestID) "><img src="~/Content/img/paypal.png"/></button>
                        <button class="btn btn-success" style="margin-left: 10px" onclick=" window.location.href = '/Request/RequestCode?requestCode=@Model.Request.RequestCode' " title="Bấm vào để quay lại danh sách yêu cầu">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script type="text/javascript">
    function Review(id) {
        $.ajax({
            url: "/Customer/ReviewInfor",
            type: "POST",
            data: {RequestID : id},
            success: function (result) {
                $('#review').html(result);
                document.getElementById("RequestCode").value = "";
                document.getElementById("Username").value = "";
                document.getElementById("Weight").value = "";
                document.getElementById("Volume").value = "";
                document.getElementById("Price").value = "";
                document.getElementById("Day").value = "";
            }
        });
    }
    function Process(id) {
        $.ajax({
            url: "/Request/PaymentInProcess",
            type: "POST",
            data: {RequestID : id},
            success: function (result) {
                $('#review').html(result);
                document.getElementById("RequestCode").value = "";
                document.getElementById("Username").value = "";
                document.getElementById("Weight").value = "";
                document.getElementById("Volume").value = "";
                document.getElementById("Price").value = "";
                document.getElementById("Day").value = "";
            }
        });
    }
</script>