@model IEnumerable<Captone.Models.Request>
<script src="~/Content/js/demo/demo.js"></script>
<div class="table-responsive" id="requestList" style="width: 103%;">
    <table class="table table-bordered">
        <tr>
            <th>Địa chỉ người gửi
            </th>
            <th>Tên người nhận
            </th>
            <th>Địa chỉ người nhận
            </th>
            <th>Ngày gửi
            </th>
            <th>
                Mã
            </th>
            <th style="display: none"></th>
            <th style="display: none"></th>
        </tr>

        @foreach (var item in Model)
        {
            
            <tr id="requestCustomer-@item.RequestID">
                <td style="width: 250px;">
                    @item.SenderAddress
                </td>
                <td>
                    @item.ReceiverName
                </td>
                <td>
                    @item.ReceiverAddress
                </td>
                <td>
                    @item.DateRequest.ToShortDateString()
                </td>
                <td>
                    @item.RequestCode
                </td>

                @if (item.DeliveryStatusID == 1)
                {
                    <td>
                    <a href="../Request/Edit/@item.RequestID">Chỉnh sửa</a>
                    </td>
                }
                @if (item.DeliveryStatusID == 4)
                {
                    <td>
             
                       <a data-toggle="modal" data-target="#myModal" id="@item.RequestID" class="btn btn-primary" onclick="ListTripTracking(this.id);">Theo dõi</a>
                    </td>    
                }

            </tr>
        }

    </table>
    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px;margin-left: -150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="list-trip">
                </div>
            </div>
           
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>
<script type="text/javascript">

    function ListTripTracking(id) {
       
        $.ajax({
            url: "/Home/ListTripTracking",
            type:"POST",
            data: { requestId: id },
            success: function (result) {
                $("#list-trip").html(result);
                Tracking(id);
            }
        });
    }
  

        function DeleteRequest(id) {
            $.ajax({
                url: "/Home/DeleteRequest",
                type: "Post",
                data: { requestId: id },
                success: function (result) {
                    if (result) {
                        $("#requestCustomer-" + id).fadeOut(200, function () {
                            $("#requestCustomer-" + id).remove();
                            $("#requestCustomer-" + id).fadeIn(200);
                        });
                    }
                }
            });
        }

</script>
