@model IEnumerable<Captone.Models.Assigning>
<table class="table table-bordered">
    <thead>
        <th>Mã chuyến</th>
        <th>Chuyến xe</th>
        <th>Trạm trung chuyển</th>
        <th>Dự kiến đến</th>
    </thead>
    @foreach (var item in Model)
    {
        <input type="hidden" id="@item.TripID" name="@item.RequestID" value="@item.Trip.Schedule.Route.RouteName - @item.Station.StationName - @item.Trip.Status"/>
        <tbody>
            <tr>
                <td>@item.Trip.TripID</td>
                <td>@item.Trip.Schedule.Route.RouteName</td>
                <td>@item.Station.StationName</td>
                <td>@item.Trip.EstimateArrivalTime</td>
            </tr>
        </tbody>
    }
</table>
<div id="map1" style="height: 440px;"></div>

<input type="text" disabled="disabled" style="background-color: #DC143C; width: 40px" />
Đang trên chuyến
<input type="text" disabled="disabled" style="background-color: yellow; width: 40px" />
Chưa đến chuyến
<input type="text" disabled="disabled" style="background-color: #00FF7F; width: 40px" />
Đã qua chuyến
<script type="text/javascript">
</script>
