@model Captone.Models.Trip

@{
    ViewBag.Title = "Xóa chuyến";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <fieldset>
                        <legend>Bạn muốn xóa chuyến này ?</legend>

                        <div style="display: none" id="tripID">@Model.TripID</div>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.EstimateDepartureTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.EstimateDepartureTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.EstimateArrivalTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.EstimateArrivalTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.RealDepartureTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.RealDepartureTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.RealArrivalTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.RealArrivalTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.AvailableVolume)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.AvailableVolume)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Date)
                        </div>
                        <div class="display-field">
                            @Model.Date.ToShortDateString()
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Route.RouteName)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Route.RouteName)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Coach.NumberPlate)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Coach.NumberPlate)
                        </div>
                    </fieldset>
                    <br />
                    @using (Html.BeginForm())
                    {
                        <p>
                            <button type="submit" class="btn btn-danger" id="updateRQ">Xóa chuyến này</button>
                            <button type="button" class="btn btn-info" onclick="window.location.href='/Trip/Index'">Quay lại danh sách</button>
                        </p>
                    }
                </div>
                <div class="col-lg-8">
                    <h4>Các yêu cầu chuyển phát đã xếp cho chuyến này</h4>
                    <div id="requests"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = loadRequest();

    function loadRequest() {
        var tripID = $('#tripID').text();
        $.ajax({
            url: "/Trip/RelatedRequests",
            type: "Post",
            data: { tripID: tripID },
            success: function (result) {
                $("#requests").html(result);
            }
        });
    }

    // Get requestIDs objects
    function getRequests() {
        var requestIDs = [];
        $('[name="chk"]:checked').each(function () {
            var row = $(this).closest('tr');
            var rqID = row.find('td:nth-child(2)').text();
            // Push requestID object to collection
            requestIDs.push(rqID);
        });
        return requestIDs;
    }

    // Sent requestIDs objects to controller
    function SentObject() {
        var listRequestIDs = getRequests();
        var tripID = $('#tripID').text();
        $.ajax({
            url: "/Trip/UpdateRequests",
            type: "POST",
            data: JSON.stringify({ tripID: tripID }),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
            }
        });
    }

    $('#updateRQ').on('click', function () {
        SentObject();
    });

</script>

