@model Captone.Models.Trip

@{
    ViewBag.Title = "Thông tin chuyến xe";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>Chuyến xe theo tuyến @Model.Route.RouteName</legend>
                    <blockquote>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.EstimateDepartureTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.EstimateDepartureTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.EstimateArrivalTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.EstimateArrivalTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.RealDepartureTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.RealDepartureTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.RealArrivalTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.RealArrivalTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.AvailableVolume)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.AvailableVolume)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Date)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Date)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Route.RouteName)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Route.RouteName)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Coach.NumberPlate)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Coach.NumberPlate)
                        </div>
                    </blockquote>
                </fieldset>
                <p>
                    <a href="/Trip/Edit/@Model.TripID">
                        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
                    </a>
                    <a href="/Trip/Index">
                        <button type="button" class="btn btn-info">Quay lại danh sách</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

