@model Captone.Models.Trip

@{
    Layout = null;
}
<div class="row">
    <strong>Ngày chạy</strong>
    <div>
        @Html.DisplayFor(model => model.Date)
    </div>
    <strong>Tuyến</strong>
    <div>
        @Html.DisplayFor(model => model.Schedule.CoachArrangement.Route.RouteName)
    </div>
    <strong>Xe</strong>
    <div>
        @Html.DisplayFor(model => model.Schedule.CoachArrangement.Coach.NumberPlate)
    </div>
    <strong>Giờ đi dự kiến</strong>
    <div>
        @Html.DisplayFor(model => model.EstimateDepartureTime)
    </div>
    <strong>Giờ đến dự kiến</strong>
    <div>
        @Html.DisplayFor(model => model.EstimateArrivalTime)
    </div>
    <strong>Thể tích khoang chứa hàng dự kiến (lít)</strong>
    <div>
        @Html.DisplayFor(model => model.EstimateVolume)
    </div>
</div>
<p>
    <a href="/Trip/Edit/@Model.TripID">
        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
    </a>
    <a href="/Trip/Delete/@Model.TripID">
        <button type="button" class="btn btn-danger">Xóa chuyến này </button>
    </a>
    <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
</p>
