@model Captone.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Trip</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstimateDepartureTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimateDepartureTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstimateArrivalTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimateArrivalTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RealDepartureTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RealDepartureTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RealArrivalTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RealArrivalTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AvailableVolume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AvailableVolume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Route.RouteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Route.RouteName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Coach.NumberPlate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Coach.NumberPlate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
