@model IEnumerable<Captone.Models.Trip>

@{
    ViewBag.Title = "Danh sách chuyến xe";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <p>
                    <i class="fa fa-plus-square"></i>@Html.ActionLink(" Tạo một chuyến mới", "Create")
                </p>
                <div>
                    @{
                        Captone.Models.Trip trip = new Captone.Models.Trip();
                    }
                    @{
                        var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                        grid.Pager(WebGridPagerModes.NextPrevious);}
                    <div id="gridContent" class="table-responsive">
                        @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                    grid.Column("Ngày đi", format: (item) => item.GetSelectLink(item.Date.ToString())),
                    grid.Column("EstimateDepartureTime", "Giờ đi dự kiến"),
                    grid.Column("EstimateArrivalTime", "Giờ đến dự kiến"),
                    grid.Column("AvailableVolume", "Thể tích còn trống"),
                    grid.Column("Route.RouteName", "Tuyến"),
                    grid.Column("Coach.NumberPlate", "Xe")

                    ))
                        @if (grid.HasSelection)
                        {
                            trip = (Captone.Models.Trip)grid.Rows[grid.SelectedIndex].Value;
                            <p><b>Ngày đi:</b> @trip.Date</p>
                            <p><b>Giờ đi dự kiến:</b> @trip.EstimateDepartureTime</p>
                            <p><b>Giờ đến dự kiến:</b> @trip.EstimateArrivalTime</p>
                            <p><b>Thể tích thùng hàng còn trống: </b>@trip.AvailableVolume</p>
                            <p><b>Xe chạy:</b> @trip.Coach.NumberPlate</p>
                            <p><b>Tuyến:</b> @trip.Route.RouteName</p>
                            <p>
                                <a href="~/Trip/Edit/@trip.TripID">
                                    <button class="btn btn-info">Cập nhật</button></a>
                                <a href="~/Trip/Delete/@trip.TripID">
                                    <button class="btn btn-danger">Xóa</button></a>
                            </p>   
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
