@model IEnumerable<Captone.Models.Trip>

@{
    ViewBag.Title = "Trip Management";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Trip List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstimateDepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimateArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealDepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach.NumberPlate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstimateDepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimateArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealDepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealArrivalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coach.NumberPlate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TripID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TripID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TripID })
        </td>
    </tr>
}

</table>
