@model IEnumerable<Captone.Models.Trip>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    ViewBag.Title = "Quản lý chuyến";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#list-pills" data-toggle="tab">Danh sách chuyến</a>
                    </li>
                    <li class=""><a href="#depart-pills" data-toggle="tab" onclick="departureTrip()">Đã khởi hành</a>
                    </li>
                    <li class=""><a href="#arrive-pills" data-toggle="tab" onclick="arriveTrip()">Đã đến trạm</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="list-pills">
                        <br />
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table display KeyTable dataTable" id="TableTrips" aria-describedby="example_info">
                                    <thead>
                                        <p>
                                            <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-outline btn-primary" onclick="CreateTrip()">Tạo chuyến mới</a>
                                        </p>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Route.RouteName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Coach.NumberPlate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstimateDepartureTime)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstimateArrivalTime)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EstimateVolume)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AvailableVolume)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Date.ToShortDateString()
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Route.RouteName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Coach.NumberPlate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstimateDepartureTime)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstimateArrivalTime)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstimateVolume)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AvailableVolume)
                                                </td>
                                                <td>
                                                    @*<a href="/Trip/Edit/@item.TripID"><i class="fa fa-edit fa-fw"></i></a>|
                            <a href="/Trip/Details/@item.TripID"><i class="fa fa-info fa-fw"></i></a>|
                            <a href="/Trip/Delete/@item.TripID"><i class="fa fa-minus-square fa-fw"></i></a>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="depart-pills">
                        <br />
                        <div id="departureTrip"></div>
                    </div>
                    <div class="tab-pane fade" id="arrive-pills">
                        <br />
                        <div id="arrivalTrip"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin chuyến mới</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="tripmodal">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    window.onload = loadTable();

    function loadTable() {
        var oTable = $('#TableTrips').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bSort": true,
            "bPaginate": true,
            "bLengthChange": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('TableTrips'),
            "datatable": oTable,
            "bPaginate": true,
            "bLengthChange": true,
            "sPaginationType": "full_numbers"
        });
    }

    function arriveTrip() {
        $.ajax({
            url: "/Trip/ArrivedTrip",
            type: "Post",
            success: function (result) {
                $("#arrivalTrip").html(result);
            }
        });
    }

    function departureTrip() {
        $.ajax({
            url: "/Trip/DepartedTrip",
            type: "Post",
            success: function (result) {
                $("#departureTrip").html(result);
            }
        });
    }

    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                 
                });
            }
        });

    });
    //change request status when checkbox 'arrived' checked
    function getRequests() {
        var listRq = [];
        $('[name="chk"]:checked').each(function () {
            var row = $(this).closest('tr');
            var rq = document.getElementById("rqID").innerText;
            // Push request object to collection
            listRq.push(rq);
        });
        return listRq;
    }
    // Sent request collection to controller
    function SentObject() {
        var requests = getRequests();
        $.ajax({
            url: "/Request/UpdateStatus",
            type: "POST",
            data: JSON.stringify({ requestIDs: requests }),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                window.location = "/Request/Index";
                window.addActive(5);
            }
        });
    }
    // Click on button 'Đã đến trạm'
    $('#sttSet').click(function () {
        SentObject();
    });

    function CreateTrip() {
        $.ajax({
            url: "/Trip/Create",
            type: "Post",
            success: function (result) {
                $("#tripmodal").html(result);
            }
        });
    }
</script>

<style type="text/css">
    .modal-content {
        margin: 0 -30%;
        width: 1000px;
    }

    .bodyFix {
        height: 100%;
        overflow: scroll;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>
