@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Tiếp nhận yêu cầu chuyển phát";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int stationId = Convert.ToInt32(Session["StationID"]);
}
<h3 style="color: orange">Các yêu cầu chuyển phát mới</h3>
<div class="table-responsive" id="RequestList" style="width: 110%">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr><th>Mã hàng
                </th>
                <th>Tên người gửi
                </th>
                <th>Ngày gửi
                </th>
                <th>Trạm gửi
                </th>
                <th>Trạm nhận
                </th>
                <th></th>
                <th style="display: none"></th>
                <th style="display: none"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr id="Request-@item.RequestID">
                        <td>@item.RequestCode</td>
                        <td>@item.SenderName</td>
                        <td>@item.DateRequest.ToShortDateString()</td>
                        <td>@item.Station.StationName</td>
                        <td style="display: none" class="nr2">@item.Station.StationID</td>
                        <td>@item.Station1.StationName</td>
                        <td style="display: none" class="nr">@item.Station1.StationID</td>
                        <td><a data-toggle="modal" id="@item.RequestID" data-target="#myModal" class="btn btn-primary btn-large price" onclick=" invoice(this.id) ">Nhập hoá đơn</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Hoá đơn</h4>
                </div>
                <div class="modal-body">
                    <div id="invoice-content">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Đóng</button>
                    <a class="btn btn-success" onclick="InputInvoice()" href="/Request/AcceptRequest?stationID=@stationId">Xác nhận</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script type="text/javascript">
    var route = [];
    function invoice(id) {
        $.ajax({
            url: "/Request/InputInvoice",
            type: "POST",
            data: { RequestID: id },
            success: function (result) {
                $('#invoice-content').html(result);
            }
        });
    }
    $(".price").click(function () {
        var FromLocation = $(this).closest("tr").find(".nr2").text();
        var ToLocation = $(this).closest("tr").find(".nr").text();
        route.push(FromLocation);
        route.push(ToLocation);
    });
    function InputInvoice() {
        var id = document.getElementById("RequestID").value;
        var weight = document.getElementById("Weight").value;
        var volume = document.getElementById("Volume").value;
        var price = document.getElementById("Price").value;
        $.ajax({
            url: "/Request/InsertInvoice",
            type: "POST",
            data: { RequestID: parseInt(id), Weight: parseFloat(weight), Volume: parseFloat(volume), Price: parseFloat(price) },
            success: function () {
  
            }
        });
    }
</script>
