@model Captone.Models.Request
@{
    ViewBag.Title = "CreatePayment";
}

@{
    ViewBag.Title = "Thông tin chi tiết chuyển phát";
}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Thông tin chi tiết chuyển phát
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <blockquote>
                            <div class="display-label">
                            <strong>Khách hàng: </strong>
                                @Html.DisplayFor(model => model.Account.Username)
                            </div>
                            <div class="display-label">
                            <strong>Địa chỉ người gửi: </strong>
                                @Html.DisplayFor(model => model.SenderAddress)
                            </div>
                            <div class="display-label">
                            <strong>Điện thoại người gửi: </strong>
                                @Html.DisplayFor(model => model.SenderPhone)
                            </div>
                            <br />
                            <br />
                            <div class="display-label">
                            <strong>Trạng thái vận chuyển</strong>
                                @Html.DisplayFor(model => model.DeliveryStatu.StatusName)
                            </div>
                        </blockquote>
                    </div>
                    <div class="col-lg-6">
                        <blockquote>
                            <div class="display-label">
                            <strong>Tên người nhận: </strong>
                                @Html.DisplayFor(model => model.ReceiverName)
                            </div>
                            <div class="display-label">
                            <strong>Địa chỉ người nhận: </strong>
                                @Html.DisplayFor(model => model.ReceiverAddress)
                            </div>
                            <div class="display-label">
                            <strong>điện thoại người nhận: </strong>
                                @Html.DisplayFor(model => model.ReceiverPhone)
                            </div>
                            <div class="display-label">
                            <strong>Giá: </strong>
                                @Html.DisplayFor(model => model.ManageFee.Fee)
                            </div>
                            <div class="display-label">
                            <strong>Khối lượng ước tính: </strong>
                                @Html.DisplayFor(model => model.EstimateWeight)
                            </div>
                            <div class="display-label">
                            <strong>Thể tích ước tính: </strong>
                                @Html.DisplayFor(model => model.EstimateVolume)
                            </div>
                            <div class="display-label">
                            <strong>Ngày gửi yêu cầu: </strong>
                                @Html.DisplayFor(model => model.DateRequest)
                            </div>
                            <div class="display-label">
                            <strong>Trạm đầu: </strong>
                                @Html.DisplayFor(model => model.Station.StationName)
                            </div>
                            <div class="display-label">
                            <strong>Trạm cuối: </strong>
                                @Html.DisplayFor(model => model.Station1.StationName)
                            </div>
                        </blockquote>
                    </div>
                </div>
                <br />
                <p>
                    @if ((string)Session["UserRole"] == "Customer")
                    {
                        using (Html.BeginForm("ValidateCommand", "Paypal"))
                        {
                            <input type="text" name="product" value="a" />
                            <input type="text" name="totalPrice" value="1" />
                            <input type="submit" class="btn btn-info" value="Thanh toán bằng PayPal" />
                        }
                    }
                    else
                    {
                        <a href="/Request/Index">
                            <input type="button" class="btn btn-info" value="Quay lại danh sách" /></a>
                    }
                </p>
            </div>
        </div>
    </div>
</div>
