@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Các yêu cầu chờ xếp lịch";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
@{
    int stationId = Convert.ToInt32(Session["StationID"]);
}
<h3 style="color: orange">Các gói hàng chờ xếp lịch chuyển đi</h3>
<div class="table-responsive" id="RequestList" style="width: 115%;">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr>
                <th style="display: none"></th>
                <th>Mã hàng
                </th>
                <th>Ngày gửi
                </th>
                <th>Khối lượng (kg)
                </th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th>Thể tích (dm3)
                </th>
                <th>Trạm nhận
                </th>
                <th>
                    <input type="checkbox" id="selectall" value="Select All" />
                </th>
                <th style="display: none"></th>
                <th style="display: none"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            
            <tr id="request-@item.RequestID">
                <td style="display: none;" id="rqID">
                    @item.RequestID
                </td>
                <td>
                    @item.RequestCode
                </td>
                <td>
                    @item.DateRequest.ToShortDateString()
                </td>
                <td>
                    @item.Invoices.First().Weight
                </td>
                <td style="display: none">
                    @item.FromLocation
                </td>
                <td style="display: none">
                    @item.ToLocation
                </td>
                <td>
                    @item.Invoices.First().Volume
                </td>
                <td>
                    @item.Station1.StationName
                </td>
                <td style="display: none;">
                    @item.DeliveryStatusID
                </td>
                <td style="display: none;">
                    @item.FeeID;
                </td>
                <td>
                    <input type="checkbox" name="Requests" class="case" />
                </td>
            </tr>
        }
    </table>
    <a data-toggle="modal" data-target="#myModal" class="btn btn-success" onclick="Assign();">Xếp Lịch</a>
    
    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 850px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div id="reason-content"><img src="~/Content/img/loading_animation.gif" style="padding-left: 200px"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-default closeModal" data-dismiss="modal">Đóng</button>
                    <a href="/Assigning/ListAssign?stationID=@stationId" class="btn btn-success" onclick="">Xác nhận</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    
    <div id="ModalWayList" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content detailPopup">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Danh sách các tuyến đường tìm được</h4>
            </div>
            <div class="modal-body">
                <div id="ListWays">
                </div>
            </div>
             <div class="modal-footer">
                    <button type="button" onclick="showAgain();" class="btn btn-default closeModal" data-dismiss="modal">Đóng</button>
                
                </div>
        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });

    });
    function showAgain() {
        $('#myModal').modal({
            show: true,
         
        });
    }
    function getRequestSingle() {
        var request = [];
        $('[name="Requests"]:checked').each(function () {
            var row = $(this).closest('tr');
            var emp = {
                // we start at 2 because the first one is the checkbox
                // also it would be easier if you have an id for each of the column
                // and do this row.find('#idCol') / row.find('#nameCol')
                RequestID: row.find('td:nth-child(1)').text(),
                RequestCode: row.find('td:nth-child(2)').text(),
                DateRequest: row.find('td:nth-child(3)').text(),
                Station: row.find('td:nth-child(4)').text(),
                FromLocation: row.find('td:nth-child(5)').text(),
                ToLocation: row.find('td:nth-child(6)').text()

            };
            request.push(emp);
            // SentObject(request);
        });
        return request;
    }
    function Assign() {
        var request = getRequestSingle();
        //   var trip = getTripMul();
        $.ajax({
            url: "/Trip/Assigning",
            type: "POST",
            data: JSON.stringify({ request: request }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                $('#reason-content').html(result);
            }
        });
    }
</script>
