@model Captone.Models.ManageFee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
        <strong>FeeID</strong>
        @Html.DisplayFor(model => model.FeeID)
    </div>

    <div class="display-label">
        <strong>Giá: </strong>
        @Html.DisplayFor(model => model.Fee)
    </div>

    <div class="display-label">
        <strong>Khối lượng nhỏ nhất: </strong>
        @Html.DisplayFor(model => model.MinWeight)
    </div>

    <div class="display-label">
        <strong>Khối lượng lớn nhất: </strong>
        @Html.DisplayFor(model => model.MaxWeight)
    </div>

    <div class="display-label">
        <strong>Thể tích nhỏ nhất: </strong>
        @Html.DisplayFor(model => model.MinVolume)
    </div>

    <div class="display-label">
        <strong>Thể tích lớn nhất: </strong>
        @Html.DisplayFor(model => model.MaxVolume)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
