@model IEnumerable<Captone.Models.ManageFee>

@{
    ViewBag.Title = "Quản lý phí";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function highlight(x) {
        x.style.backgroundColor = "lightblue";
    }
    function reset(x) {
        x.style.backgroundColor = "white";
    }
</script>
<div class="row">
    <div class="col-lg-8" width="500px">
        <div class="panel panel-primary">
            <div class="panel-heading" style="padding-left: 5px">Mức phí vận chuyển</div>
            <div class="panel-body">
                <p>
                    <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-outline btn-primary" onclick="window.location.href = '../Fee/Create' " >Tạo mức phí mới</a>
                </p>
                <div class="table-responsive">
                    <table class="table display KeyTable dataTable" id="SchedulesTbl" aria-describedby="example_info">
                        <thead>
                            <tr style="text-align: center; background: #557FFF; color: white">
                                <th rowspan="2" style="width: 150px">Mức phí</th>
                                <th colspan="2" style="width: 150px">Khối lượng (kg)</th>
                                <th colspan="2" style="width: 150px">Thể tích (dm3)</th>
                                <th rowspan="2" style="width: 150px">Quản lý</th>
                            </tr>
                            <tr style="background: #557FFF; color: white">
                                <th>Từ</th>
                                <th>Đến</th>
                                <th>Từ</th>
                                <th>Đến</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align: center" onmouseover="highlight(this)" onmouseout="reset(this)">
                                    <td style="width: 120px">
                                        @Html.DisplayFor(modelItem => item.Fee)
                                    </td>
                                    <td style="width: 120px">
                                        @Html.DisplayFor(modelItem => item.MinWeight)
                                    </td>
                                    <td style="width: 120px">
                                        @Html.DisplayFor(modelItem => item.MaxWeight)
                                    </td>
                                    <td style="width: 120px">
                                        @Html.DisplayFor(modelItem => item.MinVolume)
                                    </td>
                                    <td style="width: 120px">
                                        @Html.DisplayFor(modelItem => item.MaxVolume)
                                    </td>
                                    <td style="width: 120px">
                                        <a href="/Fee/Edit/@item.FeeID">
                                            <input type="image" src="~/Content/Images/Admin/icn_edit.png" title="Edit">
                                        </a>
                                        <a href="/Fee/Details/@item.FeeID"><i class="fa fa-info fa-fw"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = loadTable();

    function loadTable() {
        var oTable = $('#tblStaffs').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('tblStaffs'),
            "datatable": oTable,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    }

    function CreateFee() {
        $.ajax({
            url: "/Fee/Create",
            type: "Get",
            success: function (result) {
                $("#modal").html(result);
            }
        });
    }
</script>

