@model Captone.Models.Stage

@{
    Layout = null;
}
<script src="~/Content/ui/jquery-ui.js"></script>
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">

<div class="col-md-8">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        
        <strong>Tên chặng
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.StageName)
            @Html.ValidationMessageFor(model => model.StageName)
        </div>
        <br />
        <strong>Trạm đầu
        </strong>
        <div class="editor-field">
            @Html.DropDownList("StartPoint", String.Empty)
            @Html.ValidationMessageFor(model => model.StartPoint)
        </div>
        <br />
        <strong>Trạm cuối
        </strong>
        <div class="editor-field">
            @Html.DropDownList("EndPoint", String.Empty)
            @Html.ValidationMessageFor(model => model.EndPoint)
        </div>
        <br />
        <strong>Thời gian nghỉ
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.BreakTime)
            @Html.ValidationMessageFor(model => model.BreakTime)
        </div>
        <br />
        <strong>Thời gian xe chạy
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
        <br />
        <strong>Quãng đường
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.Distance)
            @Html.ValidationMessageFor(model => model.Distance)
        </div>
        <br />
        <strong>Tỉ trọng tải hàng
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.Container)
            @Html.ValidationMessageFor(model => model.Container)
        </div>
        <br />
        <strong>Giá vận chuyển
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <br />
        <p>
            <button type="submit" class="btn btn-primary">Tạo mới</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
        </p>
    }
</div>
<script type="text/javascript">
    window.onload = initialize();

    function initialize() {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
    }
</script>
