@model Captone.Models.PayPalModel

@{
    ViewBag.Title = "Chuyển trang";
}

<body>
    <form id="hiddenform" action=@Model.actionURL>
    @Html.HiddenFor(model => model.cmd)
    @Html.HiddenFor(model => model.business)
    @Html.HiddenFor(model => model.no_shipping)
    @Html.HiddenFor(model => model.@return)
    @Html.HiddenFor(model => model.cancel_return)
    @Html.HiddenFor(model => model.notify_url)
    @Html.HiddenFor(model => model.currency_code)
    @Html.HiddenFor(model => model.item_name)
    @Html.HiddenFor(model => model.amount)
    </form>

    <p align="center">
        <img src="/Content/img/LoadingProgressBar.gif"/><br/>
        <h4 align="center" style="font-weight: bold">Đang chuyển đến trang Paypal, vui lòng chờ...</h4>
    </p>
</body>
 @Scripts.Render("~/bundles/jquery")

<script>
    $(this.document).ready(function () {
        var form = $("form");
        form.submit();
    });   
</script>
