<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Core CSS - Include with every page -->

    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/TableJS/jquery.dataTables.js"></script>
    <script src="~/Content/TableJS/KeyTable.js"></script>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="~/Content/Css/SentRequest.css" rel="stylesheet" />
    <!-- SB Admin CSS - Include with every page -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    <script src="~/Content/js/jquery.bpopup.min.js"></script>
    <script src="~/Content/js/sb-admin.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var Username = (string)Session["USERNAME"];
        var UserRole = (string)Session["UserRole"];
        int stationId = Convert.ToInt32(Session["StationID"]);
        var stationName = (string)Session["StationName"];
    }
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- /.navbar-header -->
            <div class="col-lg-4">
                <a class="navbar-brand" href="/Home/Index"><i class="fa fa-truck fa-fw"></i>i-Deliver</a>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                @if (Username != null)
                {
                    string username = Username.ToUpper();
                    <div class="nav navbar-top-links navbar-right" style="margin-top: 1%;">
                    <p >
                        <i class="fa fa-user fa-fw"></i>@username
                        <a href="/Account/LogOff">| <i class="fa fa-sign-out"></i>Đăng xuất</a>
                    </p>
                        <p>Nhân viên trạm @stationName</p>
                    </div>
                }
                else
                {
                    <a class="nav navbar-top-links navbar-right" data-toggle="modal" id="" data-target="#loginModal" onclick="LoginModal()" style="margin-top: 1%;"><i class="fa fa-sign-in fa-fw"></i>Đăng nhập</a>
                }
            </div>
            <!-- /.navbar-top-links -->

        </nav>

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/Home/Index"><i class="fa fa-home fa-fw"></i>Trang chủ</a>
                    </li>
                    <li class="active">
                        <a href="/Home/SentRequestForm"><i class="fa fa-truck fa-fw"></i>Chuyển Phát</a>
                        @if (Username != null && UserRole == "Customer")
                        {                        
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Home/ListStatusCustomer?Username=@Username"><i class="fa fa-book fa-fw"></i>Quản lý yêu cầu</a>
                                </li>
                                <li>
                                    <a href="/Customer/Index"><i class="fa fa-tag fa-fw"></i>Thanh toán</a>
                                </li>
                            </ul>
                        }
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-users fa-fw"></i>Người dùng@*<span class="fa arrow"></span>*@</a>
                        @if (Username == null)
                        {
                            <ul class="nav nav-second-level">
                                <li>
                                    <a data-toggle="modal" id="" data-target="#loginModal" onclick="LoginModal()"><i class="fa fa-sign-in fa-fw"></i>Đăng nhập</a>
                                </li>
                                <li>
                                    <a data-toggle="modal" id="" data-target="#registerModal" onclick="RegisterModal()"><i class="fa fa-user fa-fw"></i>Đăng ký</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Thông tin cá nhân</a>
                                </li>
                                <li>
                                    <a href="#">Đổi mật khẩu</a>
                                </li>
                                <li><a href="/Account/LogOff"><i class="fa fa-sign-out fa-fw"></i>Đăng xuất</a></li>
                            </ul>
                        }
                        <!-- /.nav-second-level -->
                    </li>
                    @if (UserRole == "Staff")
                    {
                        <li class="active">
                            <a href="#"><i class="fa fa-user fa-fw"></i>Quản lý hành trình<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Coach/Index">Xe</a>
                                </li>
                                <li>
                                    <a href="/Station/Index">Trạm</a>
                                </li>
                                <li>
                                    <a href="/Trip/Index">Chuyến</a>
                                </li>
                                <li>
                                    <a href="/Route/Index">Tuyến</a>
                                </li>
                                <li>
                                    <a href="/Schedule/Index">Lịch chạy</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                            <a href="/Request/Index"><i class="fa fa-tasks"></i>Quản lý yêu cầu vận chuyển</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Request/AcceptRequest?stationID=@stationId">Tiếp nhận yêu cầu
                                        <div style="color: white; text-decoration-color: white; text-align: center; margin-left: 130px; margin-top: -20px; background-color: red; border-radius: 30px; width: 30px;" id="count">0</div>

                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/AcceptInvoice?StationID=@stationId">Xác nhận thanh toán</a>
                                </li>
                                <li>
                                    <a href="/Request/ListRequest">Xếp lịch vận chuyển</a>
                                </li>
                                <li>
                                    <a href="/Assigning/ListAssign?stationID=@stationId">Xác nhận chuyển hàng</a>
                                </li>
                                <li>
                                    <a href="/Assigning/RequestPeding">Hàng đang vận chuyển</a>
                                </li>
                                <li>
                                    <a href="/Assigning/ArrivedRequest?stationID=@stationId">Hàng đã đến trạm</a>
                                </li>
                                <li>
                                    <a href="/Assigning/DeliveredRequest?stationID=@stationId">Hàng đã được giao</a>
                                </li>
                                <li>
                                    <a href="/Assigning/ExpiredRequest?stationID=@stationId">Hàng đã hết hạn giao & chờ trả</a>
                                </li>
                                <li>
                                    <a href="/Request/LatePayment?stationID=@stationId">Trễ hạn thanh toán</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (UserRole == "Admin")
                    {
                        <li class="active">
                            <a href="#"><i class="fa fa-gears fa-fw"></i>Quản trị hệ thống<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Staff/Index">Nhân viên</a>
                                </li>
                                <li>
                                    <a href="/Fee">Biểu giá vận chuyển</a>
                                </li>
                                <li>
                                    <a href="/Schedule/Index">Lịch trình xe và tuyến</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    }
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" style="padding-top: 20px">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup modal -->
    <div id="loginModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content loginbox">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Thông tin tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div id="accountModal">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="registerModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content regbox">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Thông tin tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div id="newModal">
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <footer class="footer">
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var oTable = $('#TableRequest').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bSort": false,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('TableRequest'),
            "datatable": oTable,
            "sPaginationType": "full_numbers"
        });
        window.onload = getNotification();
        function getNotification() {
            var session = document.getElementById("session").value;
            $.ajax({
                url: "/Home/getNotification",
                type: "POST",
                data: { username: session },
                success: function (result) {
                    $("#count").html(result);
                }
            });
        }
        function DeleteNotification() {
            $.ajax({
                url: "/Home/DeleteNotification",
                type: "POST",
                success: function (result) {
                }
            });
        }

        function LoginModal() {
            $.ajax({
                url: "/Account/LogOn",
                type: "Get",
                success: function (result) {
                    $("#accountModal").html(result);
                }
            });
        }

        function RegisterModal() {
            $.ajax({
                url: "/Account/Register",
                type: "Get",
                success: function (result) {
                    $("#newModal").html(result);
                }
            });
        }
    </script>
    <style type="text/css">
        .regbox {
            margin: 10% -20%;
            width: 130%;
            text-align: center;
        }

        .loginbox {
            margin: auto;
            width: 65%;
            text-align: center;
        }

        .modal-title {
            font-weight: bolder;
        }
    </style>
</body>
</html>
