@model IEnumerable<Captone.Models.Request>

<div class="table-responsive" id="requestList">
    <table class="table" id="TableRequest">
        <tr>
            <th>Người gửi
            </th>
            <th>Phí
            </th>
            <th>Ngày gửi
            </th>
            <th>Trạm gửi
            </th>
            <th>Trạm nhận
            </th>
        </tr>

        @foreach (var item in ViewBag.Cancelled)
        {
            
            <tr id="request-@item.RequestID">
                <td style="display: none;" id="rqID">
                    @item.RequestID
                </td>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.ManageFee.Fee
                </td>
                <td>
                    @item.DateRequest.ToShortDateString()
                </td>
                <td>
                    @item.Station.StationName
                </td>
                <td style="display: none">
                    @item.FromLocation
                </td>
                <td style="display: none">
                    @item.ToLocation
                </td>
                <td style="display: none;">
                    @item.DeliveryStatusID
                </td>
                <td style="display: none;">
                    @item.FeeID;
                </td>
                <td>
                    @item.Station1.StationName
                </td>
            </tr>
        }
    </table>
</div>