@model Captone.Models.Volume

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Volume</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxVolume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxVolume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinVolume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinVolume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Route.RouteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Route.RouteName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoachType.CoachTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoachType.CoachTypeID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
