@model IEnumerable<Captone.Models.Volume>

@{
    ViewBag.Title = "Volume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <i class="fa fa-plus-square"></i> @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-lg-6">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MaxVolume)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MinVolume)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Route.RouteName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CoachType.Seats)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxVolume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MinVolume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Route.RouteName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoachType.Seats)
                        </td>
                        <td>
                            <a href="/Volume/Edit/@item.VolumeID"><i class="fa fa-edit fa-fw"></i></a>|
                            <a href="/Volume/Details/@item.VolumeID"><i class="fa fa-info fa-fw"></i></a>|
                            <a href="/Volume/Delete/@item.VolumeID"><i class="fa fa-minus-square fa-fw"></i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
