<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/js/googleMap.js"></script>
    <script src="~/Content/js/jquery.bpopup.min.js"></script>
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link href="~/Content/Css/Index.css" rel="stylesheet" />
    <link href="~/Content/Css/tooltip.css" rel="stylesheet" />
    <script src="~/Content/js/tooltip.js"></script>
    <link href="~/Content/Css/Register.css" rel="stylesheet" />
    <link href="~/Content/Css/Login.css" rel="stylesheet" />
    <link href="~/Content/Css/SentRequest.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="cboxOverlay" style="display: none;"></div>
    <div class="Overall">

        <div class="container">
            <div id="slidebar">
                <a href="Index.cshtml" style="margin-left: -28px">
                    <img src="~/Content/Images/logo.png">
                </a>
                <!--search-->
                <div class="searchForm">
                    <input type="text" class="search" value="Search..." onfocus="if(this.value == 'Search...') {this.value=''}" onblur="if(this.value == ''){this.value ='Search...'}">
                    <input type="submit" class="searchsubmit" value="">
                </div>
                <!--end search -->

                <!--navigation-->
                <ul id="nav" class="sf-menu sf-vertical sf-js-enabled sf-shadow">
                    <li class="current-menu-item">
                        <a href="@Url.Action("Index", "Home")" style="margin-left: 0px;">Trang chủ</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Home")" style="margin-left: 0px;">Đăng nhập</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "Home")" style="margin-left: 0px;">Đăng kí</a>
                    </li>
                    <li>
                        @if (Session["USERNAME"] == null)
                        {
                        }
                        <a href="@Url.Action("SentRequestForm", "Home")" style="margin-left: 0px;">Gửi yêu cầu</a>
                    </li>
                </ul>
                <ul class="social">
                    <li>
                        <h6>Thắc mắc và liên hệ</h6>
                    </li>

                    <li><a href="#" class="facebook"></a></li>

                    <li><a href="#" class="yahoo" onmouseover="tooltip.pop(this, '<h3>Vui lòng liên hệ:</h3>crystal_sun_92@yahoo.com')"></a></li>
                    <li><a href="#" class="skype" onmouseover="tooltip.pop(this, '<h3>Vui lòng liên hệ:</h3>Longbv')"></a></li>
                </ul>
            </div>
            <div style="margin-left: 69%">
                @if (Session["USERNAME"] == null)
                {
                }
                else
                {
                    string username = (string)Session["USERNAME"];
                    <p>
                        Chào mừng bạn,<img src="~/Content/Images/user32.png" />

                        <a href="#" style="text-decoration: none">@username</a>
                    </p>
                   
                }

            </div>
            <div class="render-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="clear"></div>
        <div class="map-google" id="hide">
        <div class="address-content">
            <div id="duration"></div>
            <div id="distance"></div>
            <div id="map" style="width: 400px; height: 300px;"></div>
            <div id="shortest">
            </div>
        </div>
        </div>
    <div class="clear"></div>
    <div class="footer">
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
       
    </script>
</body>

</html>
