<div class="nav">
    <div class="table">
        <div class="nav-divider">&nbsp;</div>

        <ul class="select">
            <li><a href="/Admin/Account"><b>Customer</b></a>
                <div class="select_sub">
                    <ul class="sub">
                        <li>@Html.ActionLink("Index", "Index", "Customer", null, new {area = "Admin"})</li>
                        <li>@Html.ActionLink("Modify", "Edit", "Staff", null, new {area = "Admin"})</li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
        
        <ul class="select">
            <li><a href="/Admin/Account"><b>Staff</b></a>
                <div class="select_sub">
                    <ul class="sub">
                        <li>@Html.ActionLink("Index", "Index", "Staff", null, new {area = "Admin"})</li>
                        <li>@Html.ActionLink("Add new staff", "Create", "Staff", null, new {area = "Admin"})</li>
                        <li>@Html.ActionLink("Add new staff", "Edit", "Staff", null, new {area = "Admin"})</li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="current">
            <li><a href="#"><b>Fee</b></a>
                <div class="select_sub show">
                    <ul class="sub">
                        <li><a href="#">Create fee value</a></li>
                        <li><a href="#">Edit fee value</a></li>

                    </ul>
                </div>
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
