@model IEnumerable<Captone.Models.Route>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    ViewBag.Title = "Danh sách các tuyến";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <p>
                    <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-outline btn-primary" onclick="CreateRoute()">Thêm tuyến mới</a>
                </p>
                <div class="table-responsive">
                    <table class="table display KeyTable dataTable" id="routeTbl" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th>
                                    <strong>Tuyến</strong>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RouteName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.RouteID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.RouteID }) |
            @Html.ActionLink("Xoá", "Delete", new { id = item.RouteID })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin tuyến mới</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="modal">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    window.onload = loadTable();

    function loadTable() {
        var oTable = $('#routeTbl').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('routeTbl'),
            "datatable": oTable,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    }

    function CreateRoute() {
        $.ajax({
            url: "/Route/Create",
            type: "Get",
            success: function (result) {
                $("#modal").html(result);
            }
        });
    }
</script>
