@model IEnumerable<Captone.Models.Account>

@{
    ViewBag.Title = "Danh sách các nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @ViewBag.Title
                </div>
                <div class="panel-body">
                    <p>
                        <i class="fa fa-plus-square"></i> @Html.ActionLink("Thêm nhân viên", "Create")
                    </p>
                    <div id="coachTbl">
                        @{
                            var account = new Captone.Models.Account();
                        }
                        @{
                            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                            grid.Pager(WebGridPagerModes.NextPrevious);}
                        <div id="gridContent" class="table-responsive">
                            @grid.GetHtml(tableStyle: "webGrid",
                                          headerStyle: "header",
                                          selectedRowStyle: "select",
                                          columns: grid.Columns(
                                              grid.Column("Account.Username");
                    grid.Column("CoachType.Seats", "Password")
                    ))
                            @if (grid.HasSelection)
                            {
                                account = (Captone.Models.Account)grid.Rows[grid.SelectedIndex].Value;
                                <p><b>Tên đăng nhập:</b> @account.Username</p>
                                <p><b>Mật khẩu:</b> @account.Password</p>
                                <p>
                                    <a href="~/Coach/Edit/@account.Username">
                                        <button class="btn btn-info">Cập nhật</button></a>
                                    <a href="~/Coach/Delete/@account.Password">
                                        <button class="btn btn-danger">Xóa</button></a>
                                </p>                          
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Các loại xe</div>
                <div class="panel-body">
                    <div id="coachTypeTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function coachTypeTable() {
        $.ajax({
            url: "/CoachType/CoachTypePartial",
            type: "Post",
            success: function (result) {
                $("#coachTypeTable").html(result);
            }
        });
    }
    
    window.onload = coachTypeTable();
</script>


