@model IEnumerable<Captone.Models.Coach>

@{
    ViewBag.Title = "Danh sách các xe";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @ViewBag.Title
                </div>
                <div class="panel-body">
                    <p>
                        <i class="fa fa-plus-square"></i> @Html.ActionLink("Thêm một xe", "Create")
                    </p>
                    <div id="coachTbl">
                        @{
                            Captone.Models.Coach coach = new Captone.Models.Coach();
                        }
                        @{
                            var grid = new WebGrid(Model, canPage: true, rowsPerPage: 5, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");
                            grid.Pager(WebGridPagerModes.NextPrevious);}
                        <div id="gridContent" class="table-responsive">
                            @grid.GetHtml(tableStyle: "webGrid",
                    headerStyle: "header",
                    selectedRowStyle: "select",
                    columns: grid.Columns(
                    grid.Column("Biển số xe", format: (item) => item.GetSelectLink(item.NumberPlate.ToString())),
                    grid.Column("CoachType.Seats", "Số ghế")
                    ))
                            @if (grid.HasSelection)
                            {
                                coach = (Captone.Models.Coach)grid.Rows[grid.SelectedIndex].Value;
                                <p><b>Biển số xe:</b> @coach.NumberPlate</p>
                                <p><b>Số ghế:</b> @coach.CoachType.Seats</p>
                                <p>
                                    <a href="~/Coach/Edit/@coach.CoachID">
                                        <button class="btn btn-info">Cập nhật</button></a>
                                    <a href="~/Coach/Delete/@coach.CoachID">
                                        <button class="btn btn-danger">Xóa</button></a>
                                </p>                          
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Các loại xe</div>
                <div class="panel-body">
                    <div id="coachTypeTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function coachTypeTable() {
        $.ajax({
            url: "/CoachType/CoachTypePartial",
            type: "Post",
            success: function (result) {
                $("#coachTypeTable").html(result);
            }
        });
    }
    
    window.onload = coachTypeTable();
</script>


