@model Captone.Models.ManageFee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ManageFee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinVolume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinVolume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxVolume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxVolume)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
