@model IEnumerable<Captone.Models.Schedule>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    ViewBag.Title = "Lịch chạy của các xe";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <p>
                    <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-outline btn-primary" onclick="CreateStation()">Tạo lịch chạy</a>
                </p>
                <div class="table-responsive">
                    <table class="table display KeyTable dataTable" id="SchedulesTbl" aria-describedby="example_info">
                        <thead>
                            <tr>
                                <th>
                                   Tuyến
                                </th>
                                <th>
                                    Xe
                                </th>
                                <th>
                                    Giờ đi dự kiến
                                </th>
                                <th>
                                    Giờ đến dự kiến
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a data-toggle="modal" id="" data-target="#modalDetail" onclick="Detail(@item.ScheduleID)">@Html.DisplayFor(modelItem => item.CoachArrangement.Route.RouteName)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CoachArrangement.Coach.NumberPlate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EstimateDepartureTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EstimateArrivalTime)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleID })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin trạm mới</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="modal">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chi tiết lịch chạy</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="tripDetails">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    window.onload = loadTable();

    function loadTable() {
        var oTable = $('#SchedulesTbl').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('SchedulesTbl'),
            "datatable": oTable,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    }

    function CreateStation() {
        $.ajax({
            url: "/Schedule/Create",
            type: "Get",
            success: function (result) {
                $("#modal").html(result);
            }
        });
    }

    function Detail(id) {
        $.ajax({
            url: "/Schedule/Details/" + id,
            type: "Get",
            success: function (result) {
                $("#tripDetails").html(result);
            }
        });
    }
</script>
<style type="text/css">
    .bodyFix {
        height: 100%;
        overflow: scroll;
    }
    .modal-title {
        font-weight:bolder;
    }
</style>
