@model IEnumerable<Captone.Models.AssigningModel>
@{
    ViewBag.Title = "Gói hàng đang được vận chuyển";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int stationId = Convert.ToInt32(Session["StationID"]);
}
<h3 style="color: orange">Các gói hàng đang được vận chuyển</h3>
<div class="table-responsive">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
        <tr>
            <th>Tên đăng nhập</th>
            <th>Ngày khởi hành</th>
            <th>Chuyến đã xếp</th>
            <th></th>
            <th></th>
            <th></th>    
        </tr>
            </thead>
        <tbody>

            @foreach (var item in ViewBag.Assign)
            {
                
                <tr>
                    <td style="display: none" id="rqID">
                        @item.RequestID
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                         <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-primary" onclick="ListTrip(@item.RequestID);">Chi tiết chuyến đi</a>
 
                    </td>
                    <td style="display: none">@item.ToLocation</td>
                    <td style="display: none">@item.SenderPhone</td>
             
                </tr>
            }

        </tbody>
    </table>
   <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 900px;margin-left: -150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chi tiết chuyến đi</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="list-trip">
                </div>
            </div>
           
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });

    });    

    function ListTrip(id) {
        $.ajax({
            url: "/Assigning/ListTripPeding",
            type: "POST",
            data: { requestId: id },
            success: function (result) {
                getLocation(id);
                $("#list-trip").html(result);
                $('#ListTripPeding input:checkbox').attr('checked', 'checked');
                CheckRequestLate();
            }
        });
    }

    function getLocation(id) {
        $.ajax({
            url: "/Assigning/GetFromToLocation",
            type: "POST",
            data: { requestId: id },
            success: function (result) {
                $("#trip-name").html(result);
            }
        });
    }

    //change request status when checkbox 'arrived' checked
    function getRequests() {
        var listRq = [];
        $('[name="chk"]:checked').each(function () {
            var row = $(this).closest('tr');
            var rq = document.getElementById("rqID").innerText;
            // Push request object to collection
            listRq.push(rq);
        });
        return listRq;
    }
    // Sent request collection to controller
    function ArriveRequest() {
        var requests = getRequests();
        $.ajax({
            url: "/Request/UpdateStatus",
            type: "POST",
            data: JSON.stringify({ requestIDs: requests }),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
            }
        });
    }
</script>


