@model Captone.Models.InvoiceModel

@using (Html.BeginForm("ValidateCommand", "PayPal"))
{
    <div class="headerH2">
        <b><p class="pContent">Payment summary</p></b>
        <p></p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <th>
                Mã thanh toán
            </th>
            <th>
                Người yêu cầu
            </th>
            <th>
                Khối lượng (kg)
            </th>
            <th>
                Thể tích (m3)
            </th>
            <th>
                Giá (VNĐ)
            </th>
            <th>
                Ngày giao dịch
            </th>
            <tbody>
                <td>
                    <input type="text" name="item_name" value="CODE: @Model.Request.RequestCode" style="border: none" readonly />
                </td>
                <td>
                    <input type="text" name="first_name" value="@Model.Request.Username" style="border: none" readonly />
                </td>
                <td>
                    <input type="text" name="weight" value="@Model.Invoice.Weight" style="border: none" readonly />
                </td>
                <td>
                    <input type="text" name="volume" value="@Model.Invoice.Volume" style="border: none" readonly />
                </td>
                <td>
                    <input type="text" name="amount" value="@Model.Invoice.Price" style="border: none" readonly />
                </td>
                <td>
                    <input type="text" name="date" value="@DateTime.Now" style="border: none" readonly />
                </td>
            </tbody>
        </table>
    </div>
    <button type="submit" style="border: none; background: transparent" title="Bấm vào để chuyến đến trang Paypal"><img src="~/Content/img/paypal.png"/></button>
    
}