@model Captone.Models.Request

@{
    ViewBag.Title = "Chỉnh sửa thông tin yêu cầu vận chuyển";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    if ((string)Session["UserRole"] == "Customer")
    {
    <fieldset>
        <legend>Chỉnh sửa thông tin yêu cầu vận chuyển</legend>

        @Html.HiddenFor(model => model.RequestID)
        <strong>
            @Html.LabelFor(model => model.FromLocation)
        </strong>
        <div class="editor-field">
            @Html.DropDownList("FromLocation", String.Empty)
            @Html.ValidationMessageFor(model => model.FromLocation)
        </div>

        <strong>
            @Html.LabelFor(model => model.ToLocation)
        </strong>
        <div class="editor-field">
            @Html.DropDownList("ToLocation", String.Empty)
            @Html.ValidationMessageFor(model => model.ToLocation)
        </div>

        <strong>
            @Html.LabelFor(model => model.SenderAddress)
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.SenderAddress)
            @Html.ValidationMessageFor(model => model.SenderAddress)
        </div>

        <strong>
            @Html.LabelFor(model => model.ReceiverAddress)
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverAddress)
            @Html.ValidationMessageFor(model => model.ReceiverAddress)
        </div>

        <strong>
            @Html.LabelFor(model => model.SenderPhone)
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.SenderPhone)
            @Html.ValidationMessageFor(model => model.SenderPhone)
        </div>

        <strong>
            @Html.LabelFor(model => model.ReceiverName)
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverName)
            @Html.ValidationMessageFor(model => model.ReceiverName)
        </div>

        <strong>
            @Html.LabelFor(model => model.ReceiverPhone)
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverPhone)
            @Html.ValidationMessageFor(model => model.ReceiverPhone)
        </div>
        <br />
        <p>
            <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
            <input type="button" value="Quay lại danh sách" class="btn btn-info" onclick="window.location.href = '/Home/LoadRequest'" />
        </p>
    </fieldset>
    }
    else
    {
    <fieldset>
        <legend></legend>
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">

                @Html.HiddenFor(model => model.RequestID)

                <strong>
                    @Html.LabelFor(model => model.Username)
                </strong>
                <div class="editor-field">
                    <p>@Html.DisplayFor(model => model.Username)</p>
                </div>

                <strong>
                    @Html.LabelFor(model => model.DeliveryStatusID)
                </strong>
                <div class="editor-field">
                    @Html.DropDownList("DeliveryStatusID", String.Empty)
                    @Html.ValidationMessageFor(model => model.DeliveryStatusID)
                </div>

                <strong>
                    @Html.LabelFor(model => model.FromLocation)
                </strong>
                <div class="editor-field">
                    @Html.DropDownList("FromLocation", String.Empty)
                    @Html.ValidationMessageFor(model => model.FromLocation)
                </div>

                <strong>
                    @Html.LabelFor(model => model.ToLocation)
                </strong>
                <div class="editor-field">
                    @Html.DropDownList("ToLocation", String.Empty)
                    @Html.ValidationMessageFor(model => model.ToLocation)
                </div>

                <strong>
                    @Html.LabelFor(model => model.SenderAddress)
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderAddress)
                    @Html.ValidationMessageFor(model => model.SenderAddress)
                </div>

                <strong>
                    @Html.LabelFor(model => model.ReceiverAddress)
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverAddress)
                    @Html.ValidationMessageFor(model => model.ReceiverAddress)
                </div>

                <strong>
                    @Html.LabelFor(model => model.SenderPhone)
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderPhone)
                    @Html.ValidationMessageFor(model => model.SenderPhone)
                </div>

                <strong>
                    @Html.LabelFor(model => model.ReceiverName)
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverName)
                    @Html.ValidationMessageFor(model => model.ReceiverName)
                </div>

                <strong>
                    @Html.LabelFor(model => model.ReceiverPhone)
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverPhone)
                    @Html.ValidationMessageFor(model => model.ReceiverPhone)
                </div>
                <br />
                <p>
                    <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                    <input type="button" value="Quay lại danh sách" class="btn btn-info" onclick="window.location.href = '/Request/Index'" />
                </p>
            </div>
        </div>
    </fieldset>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function changeClass() {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
    }

    window.onload = changeClass();
</script>
