@model Captone.Models.Request

@{
    Layout = "~/Views/Shared/_LayoutNoMap.cshtml";
    ViewBag.Title = "Chỉnh sửa thông tin yêu cầu vận chuyển";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    if ((string)Session["UserRole"] == "Customer")
    {
    <fieldset>
        <legend>Chỉnh sửa thông tin yêu cầu vận chuyển</legend>

        @Html.HiddenFor(model => model.RequestID)
        @Html.HiddenFor(model => model.Account)
        @Html.HiddenFor(model => model.DeliveryStatusID)
        @Html.HiddenFor(model => model.Length)
        @Html.HiddenFor(model => model.Width)
        @Html.HiddenFor(model => model.Height)
        @Html.HiddenFor(model => model.RequestCode)
        @Html.HiddenFor(model => model.Payment)
        @Html.HiddenFor(model => model.Type)
        @Html.HiddenFor(model => model.TypeOfPayment)
        @Html.HiddenFor(model => model.DateRequest)
        @Html.HiddenFor(model => model.FeeID)

                <strong>
                    Tên người gửi
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderName)
                    @Html.ValidationMessageFor(model => model.SenderName)
                </div>

                <strong>
                    Địa chỉ người gửi
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderAddress)
                    @Html.ValidationMessageFor(model => model.SenderAddress)
                </div>

                <strong>
                    Địa chỉ người nhận
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverAddress)
                    @Html.ValidationMessageFor(model => model.ReceiverAddress)
                </div>

                <strong>
                    Số điện thoại người gửi
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderPhone)
                    @Html.ValidationMessageFor(model => model.SenderPhone)
                </div>

                <strong>
                    Tên người nhận
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverName)
                    @Html.ValidationMessageFor(model => model.ReceiverName)
                </div>

                <strong>
                    Số điện thoại người nhận
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverPhone)
                    @Html.ValidationMessageFor(model => model.ReceiverPhone)
                </div>
                <strong>
                Thể tích ước tính
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateVolume)
                    @Html.ValidationMessageFor(model => model.EstimateVolume)
                </div>
        
                <strong>
                    Khối lượng ước tính
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateWeight)
                    @Html.ValidationMessageFor(model => model.EstimateWeight)
                </div>

        <br />
        <p>
            <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
            <input type="button" value="Trở lại" class="btn btn-info" onclick="window.location.href = '/Home/LoadRequest'" />
        </p>
    </fieldset>
    }
    else
    {
    <fieldset>
        <legend></legend>
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">

                @Html.HiddenFor(model => model.RequestID)
                @Html.HiddenFor(model => model.Account)
                @Html.HiddenFor(model => model.DeliveryStatusID)
                @Html.HiddenFor(model => model.Length)
                @Html.HiddenFor(model => model.Width)
                @Html.HiddenFor(model => model.Height)
                @Html.HiddenFor(model => model.RequestCode)
                @Html.HiddenFor(model => model.Payment)
                @Html.HiddenFor(model => model.Type)
                @Html.HiddenFor(model => model.TypeOfPayment)
                @Html.HiddenFor(model => model.DateRequest)
                @Html.HiddenFor(model => model.FeeID)

                <strong>
                    Tên người gửi
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderName)
                    @Html.ValidationMessageFor(model => model.SenderName)
                </div>

                <strong>
                    Địa chỉ người gửi
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderAddress)
                    @Html.ValidationMessageFor(model => model.SenderAddress)
                </div>

                <strong>
                    Địa chỉ người nhận
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverAddress)
                    @Html.ValidationMessageFor(model => model.ReceiverAddress)
                </div>

                <strong>
                    Số điện thoại người gửi
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SenderPhone)
                    @Html.ValidationMessageFor(model => model.SenderPhone)
                </div>

                <strong>
                    Tên người nhận
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverName)
                    @Html.ValidationMessageFor(model => model.ReceiverName)
                </div>

                <strong>
                    Số điện thoại người nhận
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ReceiverPhone)
                    @Html.ValidationMessageFor(model => model.ReceiverPhone)
                </div>
                <strong>
                Thể tích ước tính
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateVolume)
                    @Html.ValidationMessageFor(model => model.EstimateVolume)
                </div>
        
                <strong>
                    Khối lượng ước tính
                </strong>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateWeight)
                    @Html.ValidationMessageFor(model => model.EstimateWeight)
                </div>

                <br />
                <p>
                    <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                    <input type="button" value="Trở lại" class="btn btn-info" onclick="window.location.href = '/Home/Index'" />
                </p>
            </div>
        </div>
    </fieldset>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function changeClass() {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
    }

    window.onload = changeClass();
</script>
