@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Trễ hạn thanh toán";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int stationId = Convert.ToInt32(Session["StationID"]);
}

<h3 style="color: orange">Các yêu cầu đã trễ hạn thanh toán</h3>
<div class="table-responsive" id="RequestList">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr>
                <th>Người gửi</th>
                <th>Người nhận</th>
                <th>Địa chỉ nhận</th>
                <th>Điện thoại người gửi</th>
                <th>Ngày gửi yêu cầu</th>
                <th>Hạn chót thanh toán</th>
                <th>Quản lý</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Username</td>
                    <td>@request.ReceiverName</td>
                    <td>@request.ReceiverAddress</td>
                    <td>@request.SenderPhone</td>
                    <td>@request.DateRequest</td>
                    <td>@request.DateRequest.AddDays(1)</td>
                    <td>
                        <a href="/Request/LatePayment?stationID=@stationId">
                            <button onclick="Update()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="top" title="Gia hạn thanh toán"><i class="fa fa-link"></i></button>
                        </a>
                        <a href="/Request/LatePayment?stationID=@stationId">
                            <button onclick="DeleteRequest(@request.RequestID)" class="btn btn-warning btn-circle" data-toggle="tooltip" data-placement="top" title="Xóa yêu cầu"><i class="fa fa-times"></i></button>
                        </a>
                        <input id="requestID" value="@request.RequestID" hidden=""/>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function DeleteRequest(id) {
        $.ajax({
            url: "/Request/DeleteRequest",
            type: "POST",
            data: { id: parseInt(id) },
            success: function () {
                $('.closeModal').click();
                $("#RequestList").fadeOut(200, function () {
                    $("#Request-" + id).remove();
                    $("#RequestList").fadeIn(200);
                });
            }
        });
    }
    function Update() {
        var id = document.getElementById("requestID").value;
        $.ajax({
            url: "/Request/UpdateDatePostForRequest",
            type: "POST",
            data: { RequestID: parseInt(id) },
            success: function () {
                $('.closeModal').click();
                $("#RequestList").fadeOut(200, function () {
                    $("#Request-" + id).remove();
                    $("#RequestList").fadeIn(200);
                });
            }
        });
    }
</script>
