@model IEnumerable<Captone.Models.Invoice>
@{
    ViewBag.Title = "Xác nhận thanh toán";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<h3 style="color: orange">Các yêu cầu chờ xác nhận thanh toán</h3>
<div class="table-responsive" style="width: 101%">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <th>Tên</th>
            <th>Mã</th>
            <th>Trạm gửi</th>
            <th>Trạm nhận</th>
            <th>Ngày gửi</th>
            <th>Hình thức</th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>@item.Request.SenderName</td>
                    <td>@item.Request.RequestCode</td>
                    <td>@item.Request.Station.StationName</td>
                    <td>@item.Request.Station1.StationName</td>
                    <td>@item.Request.DateRequest.ToShortDateString()</td>
                    <td>@item.Request.TypeOfPayment</td>
                    @if (item.Request.TypeOfPayment == "Chuyển khoản" && !item.Request.Payment)
                    {
                        <td><a href="#" class="btn btn-success">Chưa thanh toán</a></td>
                    }
                    else
                    {
                        <td><a href="#" class="btn btn-success" onclick="getData(@item.InvoiceID)">In hoá đơn</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    

</div>
<script type="text/javascript">
    function getData(id) {
        
        $.ajax({
            url: "/Request/CreatePdf",
            type: "POST",
            data: { invoiceID:id},
            success: function (result) {
                console.log(result);
                if (result) {
                 
                    //applay param to href
                    //var param = "?weight=" + weight + "&volume=" + volume + "&price=" + price;
                    var href = "/Request/DisplayPDF";// + param;

                    window.open(href, "_blank", "width=500; height=600");
                }
            }
        });
    }

</script>
