@model Captone.Models.Schedule

@{
    ViewBag.Title = "Chi tiết lịch trình";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        <fieldset>
            <legend>Chi tiết lịch trình xe @Model.Coach.NumberPlate chạy tuyến @Model.Route.RouteName </legend>
            <blockquote>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Route.RouteName)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Route.RouteName)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Coach.NumberPlate)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Coach.NumberPlate)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EstimateDepartureTime)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EstimateDepartureTime)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EstimateArrivalTime)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EstimateArrivalTime)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EstimateVolume)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EstimateVolume)
                </div>
            </blockquote>
        </fieldset>
        <br />
        <p>
            <a href="/Schedule/Edit/@Model.ScheduleID">
                <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
            </a>
            <a href="/Schedule/Index">
                <button type="button" class="btn btn-info">Quay lại danh sách</button>
            </a>
        </p>
    </div>
</div>
