@model Captone.Models.Schedule

@{
    ViewBag.Title = "Thay đổi chi tiết lịch trình";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Thông tin lịch trình</legend>

                @Html.HiddenFor(model => model.ScheduleID)

                <div class="editor-label">
                    @Html.LabelFor(model => model.RouteID, "Route")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("RouteID", String.Empty)
                    @Html.ValidationMessageFor(model => model.RouteID)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CoachID, "Coach")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("CoachID", String.Empty)
                    @Html.ValidationMessageFor(model => model.CoachID)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EstimateDepartureTime)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateDepartureTime)
                    @Html.ValidationMessageFor(model => model.EstimateDepartureTime)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EstimateArrivalTime)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateArrivalTime)
                    @Html.ValidationMessageFor(model => model.EstimateArrivalTime)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EstimateVolume)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.EstimateVolume)
                    @Html.ValidationMessageFor(model => model.EstimateVolume)
                </div>

                <br />
                <p>
                    <button type="submit" class="btn btn-primary">Lưu thông tin </button>
                    <button type="button" class="btn btn-info" onclick="window.location.href = '/Schedule/Index'">Quay lại danh sách</button>
                </p>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function changeClass() {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
    }

    window.onload = changeClass();
</script>
