@model Captone.Models.Coach

@{
    Layout = null;
}
<div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <strong>Biển số xe</strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberPlate)
            @Html.ValidationMessageFor(model => model.NumberPlate)
        </div>
        <br />
        <strong>Loại xe</strong>
        <div class="editor-field">
            @Html.DropDownList("CoachTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.CoachTypeID)
        </div>
        
        <br />
        <p>
            <button type="submit" class="btn btn-primary">Tạo mới</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
        </p>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function changeClass() {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
    }

    window.onload = changeClass();
</script>
