@model IEnumerable<Captone.Models.AssigningModel>
@{
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    ViewBag.Title = "Gói hàng đã xếp lịch";
}
<h3 style="color: orange">Các gói hàng đã được xếp lịch</h3>
<div class="table-responsive">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr>
                <th>Mã yêu cầu</th>
                <th>Ngày khởi hành</th>
                <th>Chuyến đã xếp</th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th style="display: none"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Assign)
            {
                <tr id="">
                    <td style="display: none">
                        @item.RequestID
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        <a data-toggle="modal" id="" data-target="#myModal" class="btn btn-primary" onclick="ListTrip(@item.RequestID);">Chi tiết chuyến đi</a>
                    </td>
                    <td style="display: none">@item.ToLocation</td>
                    <td style="display: none">@item.SenderPhone</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 800px; margin-left: -150px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Chi tiết chuyến đi</h4>
                </div>
                <div class="modal-body bodyFix">
                    <div id="list-trip">
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <a class="btn btn-success" href="/Request/Index" onclick="AllGet()">Xác nhận chuyển đi</a>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });

    });

    function getRequestID() {
        var request = [];
        $('[name="Requests"]:checked').each(function () {
            var row = $(this).closest('tr');
            var emp = {
                // we start at 2 because the first one is the checkbox
                // also it would be easier if you have an id for each of the column
                // and do this row.find('#idCol') / row.find('#nameCol')
                RequestID: row.find('td:nth-child(1)').text(),
                ToLocation: row.find('td:nth-child(5)').text(),
                SenderPhone: row.find('td:nth-child(6)').text()
            };
            request.push(emp);
        });
        return request;
    }
    function getPhone() {
        var request = [];
        $('[name="Requests"]:checked').each(function () {
            var row = $(this).closest('tr');
            var emp = {
                // we start at 2 because the first one is the checkbox
                // also it would be easier if you have an id for each of the column
                // and do this row.find('#idCol') / row.find('#nameCol')
                ToLocation: row.find('td:nth-child(5)').text(),
                SenderPhone: row.find('td:nth-child(6)').text()
            };
            request.push(emp);
        });

        return request;
    }
    function AllGet() {
        Accept();
        SendSms();
    }
    function SendSms() {
        var sms = getPhone();
        $.ajax({
            url: "/Sms/Send",
            type: "Post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ phone: sms })
        });
    }
    function Accept() {
        var deliver = getRequestID();
        $.ajax({
            url: "/Assigning/Accept",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ requestId: deliver }),
            success: function (result) {

            }
        });
    }
    function ListTrip(id) {
        $.ajax({
            url: "/Assigning/ListTrip",
            type: "POST",
            data: { requestId: id },
            success: function (result) {
                getLocation(id);
                $("#list-trip").html(result);
            }
        });
    }
    function getLocation(id) {
        $.ajax({
            url: "/Assigning/GetFromToLocation",
            type: "POST",
            data: { requestId: id },
            success: function (result) {
                $("#trip-name").html(result);
            }
        });
    }
</script>
