@model Captone.Models.Coach

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Coach</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NumberPlate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberPlate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RouteID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RouteID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CoachType.CoachTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoachType.CoachTypeID)
    </div>
</fieldset>
<br />
@using (Html.BeginForm())
{
    <p>
        <a href="/Coach/Edit/@Model.CoachID">
            <input type="submit" class="btn btn-primary" value="Delete" /></a>
        <a href="/Coach/Index">
            <input type="button" class="btn btn-info" value="Back to list" /></a>
    </p>
}
