@model Captone.Models.Coach

@{
    ViewBag.Title = "Coach Details";
}

<fieldset>
    <legend>Coach</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberPlate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberPlate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RouteID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RouteID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoachType.Seats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoachType.Seats)
    </div>
</fieldset>
<br />
<p>
    <a href="/Coach/Edit/@Model.CoachID">
        <input type="button" class="btn btn-primary" value="Edit" /></a>
    <a href="/Coach/Index">
        <input type="button" class="btn btn-info" value="Back to list" /></a>
</p>
