@model IEnumerable<Captone.Models.Coach>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblContent">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachType.Seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberPlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RouteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoachType.Seats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoachID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CoachID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CoachID })
        </td>
    </tr>
}

</table>
