@model IEnumerable<Captone.Models.Reason>
@{
    ViewBag.Title = "Các yêu cầu không xếp lịch được";
    Layout = null;
}
@{
    int stationId = Convert.ToInt32(Session["StationID"]);
}

@if (Model == null)
{
    <h4 style="color: blue">Bạn chưa chọn yêu cầu nào để xếp lịch.</h4>
}
else if (!Model.Any())
{
    <h4 style="color: green">Tất cả yêu cầu đều đã được xếp lịch thành công.</h4>
}
else
{
    <h4 style="color: orange">Có một số yêu cầu xếp lịch đã không thực hiện được với nguyên nhân:</h4>
    <table class="table" style="width: 800px">  
        <thead>
            <th style="width: 50px">Mã hàng</th>
            <th style="width: 150px">Trạm đầu cuối</th>
            <th style="width: 50px">Số đường tìm được</th>
            <th style="width: 150px">Danh sách các đường đi</th>
            <th style="width: 200px">Trường hợp gửi một tuyến xe</th>
            <th style="width: 200px">Trường hợp gửi nhiều tuyến xe</th>
            <th style="width: 200px">Trường hợp gửi giữa tuyến xe</th>
            <th style="width: 200px">Đề nghị</th>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td style="width: 100px">@r.RequestCode</td>
                    <td style="width: 100px">@r.FromTo</td>
                    <td style="width: 100px">@r.NumberOfWay</td>
                    <td><a data-toggle="modal" id="" data-target="#ModalWayList" class="" onclick="FoundWay(@Html.Raw(Json.Encode(r.WayList)));">Xem chi tiết</a></td>
                    <td style="width: 100px">@r.OneTrip</td>
                    <td style="width: 100px">@r.MultipleTrip</td>
                    <td style="width: 100px">@r.MiddleTrip</td>
                    <td style="width: 100px">@r.Suggest</td>
                </tr>
            }
        </tbody>
    </table>
}
<script type="text/javascript">

    function FoundWay(ways) {
        $.ajax({
            url: "/Trip/ListWay",
            type: "Post",
            data: { ways: ways.toString() },
            success: function (result) {
                $('#close').click();
                $('#ListWays').html(result);
            }
        });
    }
</script>