@model Captone.Models.Trip

@{
    Layout = null;
}

<div class="row">
    <div id="requests"></div>
</div>
<br />
<p>
    @if (@Model.Status == "Chưa chạy")
    {
        <a href="/Trip/Index">
            <button type="button" class="btn btn-success" onclick="Departed()" id="btnDeparted">Xác nhận chuyển đi</button></a>
        <a href="/Trip/Delete/@Model.TripID">
            <button type="button" class="btn btn-danger">Xóa chuyến này </button>
        </a>
    }
    else if (Model.Status == "Đang chạy")
    {
        <a href="/Trip/Index">
            <button type="button" class="btn btn-success" onclick="arrived()" id="btnArrived">Xe đã đến đích</button></a>
        <a href="/Trip/Delete/@Model.TripID">
            <button type="button" class="btn btn-danger">Xóa chuyến này </button>
        </a>
    }
    else if (Model.Status == "Đã đến đích")
    {
        <a href="/Trip/Delete/@Model.TripID">
            <button type="button" class="btn btn-danger">Xóa chuyến này </button>
        </a>
    }
</p>
<script>
    window.onload = loadRequest();

    function loadRequest() {
        var tripID = @Model.TripID.ToString()
        $.ajax({
            url: "/Trip/RelatedRequests",
            type: "Post",
            data: { tripID: tripID },
            success: function (result) {
                $("#requests").html(result);
            }
        });
    }
    function SendSms() {
        $.ajax({
            url: "/Sms/Send",
            type: "Post",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                
            }
      
        });
    }
    function Departed(){
        departed();
        SendSms();
            
        }
    function arrived() {
        var tripID = @Model.TripID.ToString();
        var stationID = @int.Parse(Session["StationID"].ToString())
        $.ajax({
            url: "/Trip/ArrivedRequest",
            type: "Post",
            data: { tripID: tripID, stationID: stationID },
            success: function (result) {
            }
        });
    }

    function departed() {
        var tripID = @Model.TripID.ToString();
        var stationID = @int.Parse(Session["StationID"].ToString())
        $.ajax({
            url: "/Trip/DepartedRequest",
            type: "Post",
            data: { tripID: tripID, stationID: stationID },
            success: function (result) {
            }
        });
    }
</script>
