@model IEnumerable<Captone.Models.Trip>

@{
    ViewBag.Title = "Quản lý chuyến";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int stationID = int.Parse(Session["StationID"].ToString());
}
<script src="~/Content/js/jquery-1.10.2.js"></script>
<link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>

<script src="~/Content/ui/jquery-ui.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#list-pills" data-toggle="tab">Danh sách chuyến</a>
                    </li>
                    <li class=""><a href="#new-pills" data-toggle="tab" onclick="newTrip(@stationID)">Chuyến xe vừa tạo</a>
                    </li>
                    <li class=""><a href="#depart-pills" data-toggle="tab" onclick="departureTrip(@stationID)">Chuyến đã khởi hành</a>
                    </li>
                    <li class=""><a href="#arrive-pills" data-toggle="tab" onclick="arriveTrip()">Chuyến đã đến trạm</a>
                    </li>
                    <li class=""><a href="#other-pills" data-toggle="tab" onclick="otherTrip(@stationID)">Xe đến từ trạm khác</a>
                    </li>
                    <li class="">
                        <a data-toggle="modal" data-target="createTripModal" onclick="CreateTrip(@stationID)">Tạo chuyến mới</a>
                    </li>
                </ul>
               
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="list-pills">
                        <br />
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table display KeyTable dataTable" id="TableTrips" aria-describedby="example_info">
                                    <thead>
                                        <tr>
                                            <th style="display: none"></th>
                                            <th>Ngày đi 
                                            </th>
                                            <th>Tuyến                                            
                                            </th>
                                            <th>Xe chạy
                                            </th>
                                            <th>Giờ đi dự kiến
                                            </th>
                                            <th>Giờ đến dự kiến
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="display: none">
                                                    @item.TripID
                                                </td>
                                                <td>
                                                    <a data-toggle="modal" id="" data-target="modalDetail" onclick="Detail(@item.TripID)">@item.EstimateDepartureTime.ToShortDateString()</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Schedule.Route.RouteName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Schedule.Coach.NumberPlate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstimateDepartureTime)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EstimateArrivalTime)
                                                </td>
                                                <td>
                                                    @*<a href="/Trip/Edit/@item.TripID"><i class="fa fa-edit fa-fw"></i></a>|
                            <a href="/Trip/Details/@item.TripID"><i class="fa fa-info fa-fw"></i></a>|
                            <a href="/Trip/Delete/@item.TripID"><i class="fa fa-minus-square fa-fw"></i></a>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="new-pills">
                        <br />
                        <div id="newTrip"></div>
                    </div>
                    <div class="tab-pane fade" id="depart-pills">
                        <br />
                        <div id="departureTrip"></div>
                    </div>
                    <div class="tab-pane fade" id="arrive-pills">
                        <br />
                        <div id="arrivalTrip"></div>
                    </div>
                    <div class="tab-pane fade" id="other-pills">
                        <br />
                        <div id="otherTrip"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Thông tin chuyến mới</h4>
            </div>
            <div class="modal-body detailPopup">
                <div id="tripmodal">
                    
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="createTripModal" tabindex="-1" role="dialog" aria-labelledby="createTripModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="createTripModalLabel">Thông tin chuyến mới</h4>
            </div>
            <div class="modal-body detailPopup">
                <div id="tripmodal-create">
                    
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content detailPopup">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Các yêu cầu chuyển phát đã xếp cho chuyến này</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="tripDetails">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Scripts/trip-management.js"></script>

<style type="text/css">
    .modal-content {
        margin: 0 -30%;
        width: 1000px;
    }

    .bodyFix {
        height: 100%;
        overflow: scroll;
    }

    .detailPopup {
        height: 100%;
        width: 768px;
        margin: auto;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>
