@model IEnumerable<Captone.Models.Trip>
@if (Session["StationID"] == null)
{
    Html.ActionLink("Bạn chưa đăng nhập", "Index");
}
else
{
    int stationId = Convert.ToInt32(Session["StationID"]);
    Layout = null;

    <div class="table-responsive">
        <table class="table table-bordered display KeyTable dataTable" id="TableDepartedTrip" aria-describedby="example_info">
            <thead>
                <tr>
                    <th>Mã chuyến</th>
                    <th>
                        Tuyến
                    </th>
                    <th>
                        Xe
                    </th>
                    <th>
                        Giờ đi
                    </th>
                    <th>
                        Giờ đến dự kiến
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="selTripID">
                            @item.TripID
                        </td>
                        <td>
                            @item.Schedule.Route.RouteName
                        </td>
                        <td>
                            <a data-toggle="modal" class="getID" id="@item.TripID" data-target="#modalDetail" onclick=" AssignedRequest(@item.TripID) "> @item.Schedule.Coach.NumberPlate</a>
                        </td>
                        <td>
                            @item.RealDepartureTime
                        </td>
                        <td>
                            @item.EstimateArrivalTime
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="stationId" value="@stationId" />
    </div>
    <div id="modalDetail" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content detailPopup">
                <div class="modal-header">
                    <button type="button" id="close1" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Các gói hàng trên chuyến này</h4>
                </div>
                <div class="modal-body">
                    <div id="requests">
                    </div>
                </div>
                <div class="modal-footer">
                    <a>
                        <button type="button" class="btn btn-success" onclick=" departedPackages() " id="btnDeparted">Xác nhận chuyển đi</button>
                    </a>
                    <a href="/Trip/Delete/">
                        <button type="button" class="btn btn-danger">Xóa chuyến này </button>
                    </a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<!-- /.modal -->
<script>
    $(function () {
        var oTable = $('#TableDepartedTrip').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "datatable": oTable,
            "bSort": true,
            "bPaginate": false,
            "bLengthChange": false,
            "sPaginationType": "full_numbers"
        });


    });
    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });

    });

    //Click on button 'Xác nhận chuyển đi'
    var slTripId;
    var listT = [];
    $("a").click(function (event) {
        //get tripID when click button
        slTripId=event.target.id;
        listT.push(slTripId);
    });

    function departedPackages() {
        var tripIDs = [];
        for (var i = 0; i < listT.length; i++) {
            tripIDs.push(parseInt(listT[i]));
            //console.log(listT[i]);
        }
        var stationID = @int.Parse(Session["StationID"].ToString());
        $.ajax({
            url: "/Trip/DepartedRequest",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify({ tripsArray: tripIDs, stationID: stationID }),
            success: function (result) {
            }
        });
        window.location.href = "/Trip/Index";
    }

    // Get requests assigned to selected trip
    function AssignedRequest(tripID) {
        var stationId = document.getElementById('stationId').value;
        $.ajax({
            url: "/Trip/AssignedRequest",
            type: "Post",
            data: { tripID: tripID, stationID: stationId},
            success: function (result) {
                $("#requests").html(result);
            }
        });
    }
</script>
<style type="text/css">
    .bodyFix {
        width: 768px;
        height: 380px;
        overflow: scroll;
        margin: auto;
    }

    .detailPopup {
        width: 768px;
        margin: auto;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>
