@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Gói hàng đã hết hạn";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    var stationID = Convert.ToInt32(Session["StationID"]);
}
<h3 style="color: orange">Các gói hàng đã hết hạn chờ giao</h3>
<div class="table-responsive" id="requestList" style="width: 103%">
    <table class="table-bordered table-striped table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr>
                <th>Người gửi 
                </th>
                <th>Người nhận
                </th>
                <th>Trạm gửi
                </th>
                <th>Ngày gửi
                </th>
                <th>Trạm nhận
                </th>
                <th>Ngày đến
                </th>
                <th>Mã hàng
                </th>
                <th>Trả hàng
                </th>
                <th>Huỷ hàng</th>
                <th style="display: none"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {            
                <tr id="request-@item.RequestID">
                    <td style="display: none;" id="rqID">
                        @item.RequestID
                    </td>
                    <td>
                        @item.SenderName
                    </td>
                    <td>
                        @item.ReceiverName
                    </td>
                    <td>
                        @item.Station.StationName
                    </td>
                    <td>
                        @item.DateRequest
                    </td>
                    <td>
                        @item.Station1.StationName
                    </td>
                    <td>
                        @item.ArrivedDate
                    </td>
                    <td>
                        @item.RequestCode
                    </td>
                    <td>
                        <input type="radio" name="chk" class="return" onclick="getIDRequestReturn(@item.RequestID)"/>
                    </td>
                    <td>
                        <input type="radio" name="chk" class="cancer" onclick="getIDRequestCancer(@item.RequestID)" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <p>
        <a id="xacnhan" class="btn btn-success" href="/Assigning/ExpiredRequest?stationID=@stationID">Xác nhận</a>
    </p>
</div>
<script type="text/javascript">

    function getIDRequestReturn(id) {
           if( $("#xacnhan").click(function() {
                returnPackage(id);
        }));
    }
    function getIDRequestCancer(id) {
        if( $("#xacnhan").click(function() {
            removeRequest(id);
        }));
    }
   

    // get checked requests id

    function removeRequest(id) {
        $.ajax({
            url: "/Request/CancerRequest",
            type: "POST",
            data: { requestId: parseInt(id) },
            success: function (result) {

            }
        });
    }

    function returnPackage(id) {
        $.ajax({
            url: "/Request/Return",
            type: "POST",
            data: { listRequest: parseInt(id) },
            success: function(result) {
            }
        });
    }
</script>
