@model IEnumerable<Captone.Models.ListTripModel>
<div class="table-responsive" id="ListTripPeding">
    <table class="table" id="tripTblCheck">
        <thead>
            <tr>
                <th>Tuyến
                </th>
                <th>Dự kiến chạy
                </th>
                <th>Dự kiến đến 
                </th>
                <th>Mã chuyến</th>
                <th>Trạng thái
                </th>
                <th>Trạm dừng</th>
                <th>
                    <input type="checkbox" id="selectallTrip" value="Select All" style="display: none" /></th>
                <th></th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Assigning/ListRequestForTrip?tripid=@item.TripID">@item.RouteName</a>
                    </td>
                    <td id="est1">
                        @item.EstimateDepartureTime
                    </td>
                    <td id="est2">
                        @item.EstimateArrivalTime
                    </td>
                    <td id="tripID">
                        @item.TripID
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>@item.StopStationName</td>
                    <td></td>
                    <td>
                        <input type="checkbox" name="CheckTrip" class="case1" style="display: none" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#selectallTrip').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case1').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case1').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });

    });
    function getCheckTrip() {
        var request = [];
        $('[name="CheckTrip"]:checked').each(function () {
            var row = $(this).closest('tr');
            var emp = {
                // we start at 2 because the first one is the checkbox
                // also it would be easier if you have an id for each of the column
                // and do this row.find('#idCol') / row.find('#nameCol')
                EstimateArrivalTime: row.find('td:nth-child(3)').text(),
                TripID: row.find('td:nth-child(4)').text(),
                Status: row.find('td:nth-child(5)').text()
            };
            request.push(emp);
            // SentObject(request);
        });
        return request;
    }
    function Waring() {
        var table = $("#tripTblCheck tbody");
        var images = '@Url.Content("~/Content/Images/warning-icon.png")';
        table.find('tr').each(function (i, el) {
            var $tds = $(this).find('td'),
                Status = $tds.eq(4).text();
            if (Status.trim() == "Đang chạy") {
                $tds.eq(6).html("<a href='#'><img src='" + images + "' style='width: 40px;'/></a>");
            }
        });
    }
    function CheckRequestLate() {
        var checkTrip = getCheckTrip();
        $.ajax({
            url: "/Assigning/CheckRequestLate",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({ requestId: checkTrip }),
            success: function (result) {
                if (result.check == false) {
                    Waring();
                }
            }
        });
    }
</script>
