@model IEnumerable<Captone.Models.Reason>
@{
    ViewBag.Title = "Các yêu cầu không xếp lịch được";
    Layout = null;
}
@{
    int stationId = Convert.ToInt32(Session["StationID"]);
}

@if (Model == null)
{
    <h4 style="color: blue">Bạn chưa chọn yêu cầu nào để xếp lịch.</h4>
}
else if (!Model.Any())
{
    <h4 style="color: green">Tất cả yêu cầu đều đã được xếp lịch thành công.</h4>
}
else
{
    <h4 style="color: orange">Có một số yêu cầu xếp lịch đã không thực hiện được với nguyên nhân:</h4>
    <table class="table" style="width: 800px">  
        <thead>
            <th style="width: 50px">Mã hàng</th>
            <th style="width: 150px">Trạm đầu cuối</th>
            <th style="width: 50px">Số đường tìm được</th>
            <th style="width: 150px">Danh sách các đường đi</th>
            <th style="width: 200px">Trường hợp gửi một tuyến xe</th>
            <th style="width: 200px">Trường hợp gửi nhiều tuyến xe</th>
            <th style="width: 200px">Trường hợp gửi giữa tuyến xe</th>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td style="width: 100px">@r.RequestCode</td>
                    <td style="width: 100px">@r.FromTo</td>
                    <td style="width: 100px">@r.NumberOfWay</td>
                    <td><a data-toggle="modal" id="" data-target="#ModalWayList" class="" onclick="AssignedRequest(@r.WayList)">Xem chi tiết</a></td>
                    <td style="width: 100px">@r.OneTrip</td>
                    <td style="width: 100px">@r.MultipleTrip</td>
                    <td style="width: 100px">@r.MiddleTrip</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="ModalWayList" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content detailPopup">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Danh sách các tuyến đường tìm được</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="requests">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
}

