@model IEnumerable<Captone.Models.Trip>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered display KeyTable dataTable" id="TableDepartedTrip" aria-describedby="example_info">
        <thead>
            <tr>
                <th>Tuyến
                </th>
                <th>Xe
                </th>
                <th>Giờ đi       
                </th>
                <th>Giờ đến dự kiến
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display: none">
                        @item.TripID
                    </td>
                    <td>
                       @item.Schedule.Route.RouteName
                    </td>
                    <td>
                        <a data-toggle="modal" id="" data-target="#modalDetail" onclick="AssignedRequest(@item.TripID)"> @item.Schedule.Coach.NumberPlate</a>
                    </td>
                    <td>
                        @item.RealDepartureTime
                    </td>
                    <td>
                        @item.EstimateArrivalTime
                    </td>
                </tr>
                
                <div id="modalDetail" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content detailPopup">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Các gói hàng trên chuyến này</h4>
                            </div>
                            <div class="modal-body">
                                <div id="requests">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="/Trip/Index">
                                    <button type="button" class="btn btn-success" onclick="departed(@item.TripID)" id="btnDeparted">Xác nhận chuyển đi</button></a>
                                <a href="/Trip/Delete/@item.TripID">
                                    <button type="button" class="btn btn-danger">Xóa chuyến này </button>
                                </a>
                            </div>


                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            }
        </tbody>
    </table>
</div>

<script>
    $(function () {
        var oTable = $('#TableDepartedTrip').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bSort": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('TableDepartedTrip'),
            "datatable": oTable,
            "bSort": true,
            "sPaginationType": "full_numbers"
        });
    });
    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                 
                });
            }
        });

    });
    // change request status when checkbox 'arrived' checked
    function getRequests() {
        var listRq = [];
        $('[name="chk"]:checked').each(function () {
            var row = $(this).closest('tr');
            var rq = document.getElementById("rqID").innerText;
            // Push request object to collection
            listRq.push(rq);
        });
        return listRq;
    }
    // Sent request collection to controller
    function SentObject() {
        var requests = getRequests();
        $.ajax({
            url: "/Request/UpdateStatus",
            type: "POST",
            data: JSON.stringify({ requestIDs: requests }),
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                window.location = "/Request/Index";
                window.addActive(5);
            }
        });
    }
    // Click on button 'Đã đến trạm'
    $('#sttSet').click(function () {
        SentObject();
    });
    // Get requests assigned to selected trip
    function AssignedRequest(tripID) {
        $.ajax({
            url: "/Trip/AssignedRequest",
            type: "Post",
            data: { tripID: tripID },
            success: function (result) {
                $("#requests").html(result);
            }
        });
    }
    function departed(tripID) {

        var stationID = @int.Parse(Session["StationID"].ToString())
        $.ajax({
            url: "/Trip/DepartedRequest",
            type: "Post",
            data: { tripID: tripID, stationID: stationID },
            success: function (result) {
            }
        });
    }
</script>
<style type="text/css">
    .bodyFix {
        width: 768px;
        height: 380px;
        overflow: scroll;
        margin: auto;
    }

    .detailPopup {
        width: 768px;
        margin: auto;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>
