@model IEnumerable<Captone.Models.Trip>
@if (Session["StationID"] == null)
{
    Html.ActionLink("Bạn chưa đăng nhập", "Index");
}
else
{
    int stationId = Convert.ToInt32(Session["StationID"]);
    Layout = null;
    <div class="table-responsive">
        <table class="table table-bordered" id="TableOtherStart" aria-describedby="example_info">
            <thead>
                <tr>
                    <th>
                        Tuyến
                    </th>
                    <th>
                        Xe
                    </th>
                    <th>
                        Giờ đến dự kiến
                    </th>
                    <th>Trạng thái</th>
                    <th><input type="checkbox" id="selectall" value="Select All" /></th>
                    <th style="display: none"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display: none" id="tripID">
                            @item.TripID
                        </td>
                        <td>
                            @item.Schedule.Route.RouteName
                        </td>
                        <td>
                            <a data-toggle="modal" class="getID" id="@item.TripID" data-target="#modalDepart" onclick="AssignedRequest2(@item.TripID)"> @item.Schedule.Coach.NumberPlate</a>
                        </td>
                        <td>
                            @item.EstimateArrivalTime
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td><input type="checkbox" name="chk" class="case" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-success" onclick="DepartedRequest()" style="float: right">Xác nhận rời bến</a>
    </div>
    <input type="hidden" id="stationId" value="@stationId" />
}
<div id="modalDepart" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content detailPopup">
            <div class="modal-header">
                <button type="button" id="close3" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Các gói hàng trên chuyến này</h4>
            </div>
            <div class="modal-body">
                <div id="rqfordepart">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" onclick="DepartedRequest()" style="float: right">Xác nhận rời bến</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
    window.onloadstart = loadTable();

    function loadTable() {
        var oTable = $('#TableOtherStart').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bSort": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('TableOtherStart'),
            "datatable": oTable,
            "bSort": true,
            "sPaginationType": "full_numbers"
        });
    }

    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });
    });

    function AssignedRequest2(tripID) {
        $.ajax({
            url: "/Trip/AssignedRequest2",
            type: "Post",
            data: { tripID: tripID },
            success: function (result) {
                $("#rqfordepart").html(result);
            }
        });
    }
    
    //get array of selected trips
    function getTrips() {
        var tripArray = [];
        $('[name="chk"]:checked').each(function () {
            var tripID = $(this).closest('tr').find('td').first().text().trim();
            tripArray.push(tripID);
        });
        return tripArray;
    }

    // Click on button 'Xác nhận rời bến'
    function DepartedRequest() {
        var listT = getTrips();
        var tripIDs = [];
        var stationID = document.getElementById("stationId").value;
        for (var i = 0; i < listT.length; i++) {
            tripIDs.push(parseInt(listT[i]));
        }
        $.ajax({
            url: "/Trip/DepartedRequest",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify({ tripsArray: tripIDs, stationID: stationID }),
            success: function (result) {
            }
        });
        window.location.href = "/Trip/Index";
    }
</script>
<style type="text/css">
    .bodyFix {
        width: 768px;
        height: 380px;
        overflow: scroll;
        margin: auto;
    }

    .detailPopup {
        width: 768px;
        margin: auto;
    }

    .modal-title {
        font-weight: bolder;
    }
</style>