@model IEnumerable<Captone.Models.Trip>
@{
    Layout = null;
    int stationId = Convert.ToInt32(Session["StationID"]);
    var date = DateTime.Now;
}
<input type="hidden" id="stationId" value="@stationId" />
<input type="hidden" id="timenow" value="@date" />
<div class="table-responsive" id="TripCheck">
    <table class="table table-bordered display KeyTable dataTable" id="TableDepartedTrip" aria-describedby="example_info">
        <thead>
            <tr>
                <th>
                    Tuyến
                </th>
                <th>
                    Xe
                </th>
                <th>
                    Giờ đi
                </th>
                <th>
                    Giờ đến dự kiến
                </th>
                <th>
                    Trạng thái
                </th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th style="display: none">
                    <input type="checkbox" id="selectallTrip" value="Select All" style="display: none" />
                </th>
                <th>Trễ chuyến</th>
                <th><input type="checkbox" id="selectall" value="Select All" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr id="trip-@item.TripID">
                <td style="display: none">
                    @item.TripID
                </td>
                <td>
                    @item.Schedule.Route.RouteName
                </td>
                <td>
                    <a data-toggle="modal" id="@item.TripID" data-target="#myModal" onclick="AssignedRequest2(@item.TripID)">@item.Schedule.Coach.NumberPlate</a>
                </td>
                <td>
                    @item.RealDepartureTime
                </td>
                <td>
                    @item.EstimateArrivalTime
                </td>
                <td>
                    @item.Status
                </td>
                <td></td>
                <td style="display: none">
                    <input type="checkbox" name="CheckTrip" class="case1" style="display: none" />
                </td>
                <td><input type="checkbox" name="chk" class="case" /></td>
            </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-success" onclick="ArrivedRequest()" style="float: right">Xác nhận đến trạm</a>
</div>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content detailPopup">
            <div class="modal-header">
                <button type="button" id="close2" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Các gói hàng trên chuyến này</h4>
            </div>
            <div class="modal-body">
                <div id="requests">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" id="AcceptGo" onclick="ArrivedRequest()">Xác nhận đến trạm</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function loadTable() {
        var oTable = $('#TableDepartedTrip').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bSort": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('TableDepartedTrip'),
            "datatable": oTable,
            "bSort": true,
            "sPaginationType": "full_numbers"
        });
    }

    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"
                });
            }
        });
    });

    //get array of selected trips
    function getTrips() {
        var tripArray = [];
        $('[name="chk"]:checked').each(function () {
            var tripID = $(this).closest('tr').find('td').first().text().trim();
            tripArray.push(tripID);
        });
        return tripArray;
    }

    // Click on button 'Xác nhận đến trạm'
    function ArrivedRequest() {
        var stationID = document.getElementById('stationId').value;
        var listT = getTrips();
        var tripIDs = [];
        for (var i = 0; i < listT.length; i++) {
            tripIDs.push(parseInt(listT[i]));
            //console.log(listT[i]);
        }
        $.ajax({
            url: "/Trip/ArrivedRequest",
            type: "Post",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            data: JSON.stringify({ tripsArray: tripIDs, stationID: stationID }),
            success: function (result) {

            }
        });
        window.location.href = "/Trip/Index";
    }

    // Get requests assigned to selected trip
    function AssignedRequest2(tripID) {
        $.ajax({
            url: "/Trip/AssignedRequest2",
            type: "Post",
            data: { tripID: tripID },
            success: function (result) {
                $("#requests").html(result);
            }
        });
    }
</script>
<style type="text/css">
    .bodyFix {
        width: 768px;
        height: 380px;
        overflow: scroll;
        margin: auto;
    }

    .detailPopup {
        width: 768px;
        margin: auto;
    }

    .modal-title {
        font-weight: bolder;
    }

    .yellowClass {
        background-color: red;
    }
</style>
