@model Captone.Models.Request

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Request</legend>

        @Html.HiddenFor(model => model.RequestID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Username", String.Empty)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryStatusID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeliveryStatusID", String.Empty)
            @Html.ValidationMessageFor(model => model.DeliveryStatusID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeeID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FeeID", String.Empty)
            @Html.ValidationMessageFor(model => model.FeeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstimateWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstimateWeight)
            @Html.ValidationMessageFor(model => model.EstimateWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstimateVolume)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstimateVolume)
            @Html.ValidationMessageFor(model => model.EstimateVolume)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateRequest)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateRequest)
            @Html.ValidationMessageFor(model => model.DateRequest)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FromLocation)
        </div>
        <div class="editor-field">
            @Html.DropDownList("FromLocation", String.Empty)
            @Html.ValidationMessageFor(model => model.FromLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToLocation)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ToLocation", String.Empty)
            @Html.ValidationMessageFor(model => model.ToLocation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SenderAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SenderAddress)
            @Html.ValidationMessageFor(model => model.SenderAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverAddress)
            @Html.ValidationMessageFor(model => model.ReceiverAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SenderPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SenderPhone)
            @Html.ValidationMessageFor(model => model.SenderPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverName)
            @Html.ValidationMessageFor(model => model.ReceiverName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReceiverPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReceiverPhone)
            @Html.ValidationMessageFor(model => model.ReceiverPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeOfPayment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeOfPayment)
            @Html.ValidationMessageFor(model => model.TypeOfPayment)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
