@model IEnumerable<Captone.Models.Request>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Account.Username)
            </th>
            <th>@Html.DisplayNameFor(model => model.ManageFee.Fee)
            </th>
            <th>@Html.DisplayNameFor(model => model.DateRequest)
            </th>
            <th>@Html.DisplayNameFor(model => model.FromLocation)
            </th>
            <th>@Html.DisplayNameFor(model => model.ToLocation)
            </th>
            <th>@Html.DisplayNameFor(model => model.DeliveryStatu.StatusName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Username
                </td>
                <td>
                    @item.ManageFee.Fee
                </td>
                <td>
                    @item.DateRequest
                </td>
                <td>
                    @item.Station.StationName
                </td>
                <td>
                    @item.Station1.StationName
                </td>
                <td>
                    @item.DeliveryStatu.StatusName
                </td>
                <td>
                    <a href="/Request/Edit/@item.RequestID"><i class="fa fa-edit fa-fw"></i></a>|
                            <a href="/Request/Details/@item.RequestID"><i class="fa fa-info fa-fw"></i></a>|
                            <a href="/Request/Delete/@item.RequestID"><i class="fa fa-minus-square fa-fw"></i></a>
                </td>
            </tr>
        }
    </table>
</div>
