@model IEnumerable<Captone.Models.Request>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
<div class="table-responsive" id="requestList">
    <table class="table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr>
                <th>Tên 
                </th>
                <th>Phí
                </th>
                <th>Ngày gửi
                </th>
                <th>Trạm gửi
                </th>
                <th>Trạm nhận
                </th>
                <th>Trạng thái
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            
                <tr id="request-@item.RequestID">
                    <td style="display: none;" id="rqID">
                        @item.RequestID
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.ManageFee.Fee
                    </td>
                    <td>
                        @item.DateRequest
                    </td>
                    <td>
                        @item.Station.StationName
                    </td>
                    <td style="display: none">
                        @item.FromLocation
                    </td>
                    <td style="display: none">
                        @item.ToLocation
                    </td>
                    <td style="display: none;">
                        @item.DeliveryStatusID
                    </td>
                    <td style="display: none;">
                        @item.FeeID;
                    </td>
                    <td>
                        @item.Station1.StationName
                    </td>
                    <td>
                        @item.DeliveryStatu.StatusName
                    </td>
                    <td style="display: none">
                        @item.RequestCode

                    </td>
                    <td>
                        <button type="button" class="btn" onclick="ChangeStatus(@item.RequestID)">Xác nhận</button>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
@*<div id="test-popup" class="white-popup mfp-with-anim mfp-hide"></div>*@
<script type="text/javascript">

    function LoadPage() {
        var url = '@Url.Action("Index", "Request")';
        window.location.href = url;
    }

    function ChangeStatus(requestId) {
        $.ajax({
            url: "/Request/ChangeStatus",
            type: "POST",
            data: { requestID: requestId },
            success: function (result) {
                if (result) {
                    $("#requestList").fadeOut(200, function () {
                        $("#request-" + requestId).remove();
                        $("#requestList").fadeIn(200);
                    });
                }
            }
        });
    }
</script>
