@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Hàng đã đến trạm";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    var stationID = Convert.ToInt32(Session["StationID"]);
}
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
<div class="table-responsive" id="requestList">
    <table class="table display KeyTable dataTable" id="TableRequest" aria-describedby="example_info">
        <thead>
            <tr>
                <th>Người gửi 
                </th>
                <th>Người nhận
                </th>
                <th>Trạm gửi
                </th>
                <th>Ngày gửi
                </th>
                <th>Trạm nhận
                </th>
                <th>Ngày đến
                </th>
                <th>
                    <input type="checkbox" id="selectall" value="Select All"/>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {            
                <tr id="request-@item.RequestID">
                    <td style="display: none;" id="rqID">
                        @item.RequestID
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.ReceiverName
                    </td>
                    <td>
                        @item.Station.StationName
                    </td>
                    <td>
                        @item.DateRequest
                    </td>
                    <td>
                        @item.Station1.StationName
                    </td>
                    <td>
                        @item.ArrivedDate
                    </td>
                    <td>
                        <input type="checkbox" name="chk" class="case" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a onclick="arrivedRQ()" class="btn btn-success" href="/Assigning/ArrivedRequest?stationID=@stationID">Kiểm hàng</a>
        <a onclick="delivered()" class="btn btn-success" href="/Assigning/DeliveredRequest?stationID=@stationID">Đã giao hàng</a>
    </p>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });

    });

    // get all arrived requests id
    function getRequests() {
        var request = [];
        $('[name="chk"]:checked').each(function () {
            var id = document.getElementById('rqID').innerText.trim();
            request.push(id);
        });
        return request;
    }

    // set delivery status to 6 - delivered
    function delivered() {
        var requests = getRequests();
        $.ajax({
            url: "/Request/UpdateStatus",
            type: "POST",
            data: JSON.stringify({ requestIDs: requests }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
            }
        });
    }

    // check after 2days requests delivered or not
    function autoSet() {
        var requests = getRequests();
        $.ajax({
            url: "/Request/AutoSet",
            type: "POST",
            data: JSON.stringify({ requestIDs: requests }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
            }
        });
    }

    function arrivedRQ() {
        $('#TableRequest input:checkbox').attr('checked', 'checked');
        autoSet();
    }
</script>
