@model Captone.Models.Station

@{
    ViewBag.Title = "Thông tin chi tiết trạm";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend>Thông tin trạm @Model.StationName </legend>
                    <blockquote>
                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.StationName)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.StationName)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.StationLocation)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.StationLocation)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.BreakTime)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.BreakTime)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.StationPhone)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.StationPhone)
                        </div>

                        <div class="display-label">
                            @Html.DisplayNameFor(model => model.Description)
                        </div>
                        <div class="display-field">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </blockquote>
                </fieldset>
                <br />
                <p>
                    <a href="/Station/Edit/@Model.StationID">
                        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
                    </a>
                    <a href="/Station/Index">
                        <button type="button" class="btn btn-info">Quay lại danh sách</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

