@model Captone.Models.Station

@{
    ViewBag.Title = "Edit";
  //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Station</legend>

        @Html.HiddenFor(model => model.StationID)

        <div>
            @Html.LabelFor(model => model.StationName)
        </div>
        <div>

            @Html.EditorFor(model => model.StationName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StationName)
        </div>

        <div>
            @Html.LabelFor(model => model.StationLocation)
        </div>
        <div onchange="decodeM()">
            @Html.EditorFor(model => model.StationLocation)
            @Html.ValidationMessageFor(model => model.StationLocation)
        </div>

        <div>
            @Html.LabelFor(model => model.Province)
        </div>
        <div>
            @Html.EditorFor(model => model.Province)
            @Html.ValidationMessageFor(model => model.Province)
        </div>

        <div>
            @Html.LabelFor(model => model.BreakTime)
        </div>
        <div>
            @Html.EditorFor(model => model.BreakTime)
            @Html.ValidationMessageFor(model => model.BreakTime)
        </div>

        <div>
            @Html.LabelFor(model => model.StationPhone)
        </div>
        <div>
            @Html.EditorFor(model => model.StationPhone)
            @Html.ValidationMessageFor(model => model.StationPhone)
        </div>

        <div>
            @Html.LabelFor(model => model.Description)
        </div>
        <div>
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label" hidden="hidden">
            @Html.LabelFor(model => model.Coordinate)
        </div>
        <div class="editor-field" hidden="hidden">
            @Html.EditorFor(model => model.Coordinate)
            @Html.ValidationMessageFor(model => model.Coordinate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function changeClass() {
            $("input").addClass("form-control");
        }
        function decodeM() {
            var address = document.getElementById("StationLocation").value;
            $.ajax({
                url: "http://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false",
                type: "POST",
                success: function (res) {
                    alert("Coordinate: " + res.results[0].geometry.location.lat + ", " + res.results[0].geometry.location.lng);
                    document.getElementById('Coordinate').value = res.results[0].geometry.location.lat + ', ' + res.results[0].geometry.location.lng;
                }
            });
        }

        window.onload = changeClass();
    </script>
}
