@model Captone.Models.Station

@{
    ViewBag.Title = "Thay đổi thông tin trạm";
}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Thông tin trạm</legend>

                        @Html.HiddenFor(model => model.StationID)


                        <div class="editor-label">
                            @Html.LabelFor(model => model.StationName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.StationName)
                            @Html.ValidationMessageFor(model => model.StationName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.StationLocation)
                        </div>
                        <div class="editor-field">
                            <div id="location" onchange="decodeM()">
                                @Html.EditorFor(model => model.StationLocation)
                            </div>
                            @Html.ValidationMessageFor(model => model.StationLocation)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Province)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Province)
                            @Html.ValidationMessageFor(model => model.Province)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.BreakTime)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BreakTime)
                            @Html.ValidationMessageFor(model => model.BreakTime)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.StationPhone)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.StationPhone)
                            @Html.ValidationMessageFor(model => model.StationPhone)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>


                        <div class="editor-label" hidden="hidden">
                            @Html.LabelFor(model => model.Coordinate)
                        </div>
                        <div class="editor-field" hidden="hidden">
                            @Html.EditorFor(model => model.Coordinate)
                            @Html.ValidationMessageFor(model => model.Coordinate)
                        </div>

                        <br />
                        <p>
                            <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                            <input type="button" value="Quay lại danh sách" class="btn btn-info" onclick="window.location.href = '/Station/Index'" />
                        </p>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function changeClass() {
            $("input").addClass("form-control");
        }
        function decodeM() {
            var address = document.getElementById("StationLocation").value;
            $.ajax({
                url: "http://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false",
                type: "POST",
                success: function (res) {
                    alert("Coordinate: " + res.results[0].geometry.location.lat + ", " + res.results[0].geometry.location.lng);
                    document.getElementById('Coordinate').value = res.results[0].geometry.location.lat + ', ' + res.results[0].geometry.location.lng;
                }
            });
        }

        window.onload = changeClass();
    </script>
}
