@model IEnumerable<Captone.Models.StaffModel>

@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function highlight(x) {
        x.style.backgroundColor = "lightblue";
    }
    function reset(x) {
        x.style.backgroundColor = "white";
    }
</script>
<div class="row">
    <div class="col-lg-8" width="600px">
        <div class="panel panel-primary" style="width: 700px">
            <div class="panel-title" style="padding-left: 5px">Danh sách nhân viên</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table style="border: 2px; font-size: 14px; width: 600px" class="table">
                        <tr style="text-align: center; background: #557FFF; color: white">
                            <th style="width: 150px">Tài khoản</th>
                            <th style="width: 150px">Mật khẩu</th>
                            <th style="width: 150px">Họ</th>
                            <th style="width: 200px">Tên</th>
                            <th style="width: 150px">Số điện thoại</th>
                            <th style="width: 150px">Mã trạm</th>
                            <th style="width: 150px">Email</th>
                            <th style="width: 150px">Địa chỉ</th>
                            <th style="width: 250px">Quản lý</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr style="text-align: center" onmouseover="highlight(this)" onmouseout="reset(this)">
                                <td style="width: 150px">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.Firstname)
                                </td>
                                <td style="width: 200px">
                                    @Html.DisplayFor(modelItem => item.Lastname)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.StationID)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td style="width: 120px">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td style="width: 250px">
                                    <a href="/Staff/Edit/@item.Username">
                                        <input type="image" src="~/Content/Images/Admin/icn_edit.png" title="Edit"></a>
                                    <a href="/Staff/Details/@item.Username"><i class="fa fa-info fa-fw"></i></a> | 
                                    <a href="/Staff/Delete/@item.Username">
                                        <input type="image" src="~/Content/Images/Admin/icn_trash.png" title="Delete"></a>

                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


