@model Captone.Models.Schedule

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.ScheduleID)

        <strong>
            Tuyến
        </strong>
        <div class="editor-field">
            @Html.DropDownList("RouteID", String.Empty)
            @Html.ValidationMessageFor(model => model.RouteID)
        </div>

        <strong>
            Xe
        </strong>
        <div class="editor-field">
            @Html.DropDownList("Coaches", new List<SelectListItem>())
            @Html.ValidationMessageFor(model => model.CoachID)
        </div>


        <strong>
            @Html.LabelFor(model => model.EstimateDepartureTime)
        </strong>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstimateDepartureTime)
            @Html.ValidationMessageFor(model => model.EstimateDepartureTime)
        </div>

        <p>
            <input type="submit" value="Lưu" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay lại danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        var routes = $("#RouteID");
        var coaches = $("#Coaches");
        var arranger = $("#ArrangeID");
        routes.change(function () {
            coaches.find('option').remove();
            $.getJSON('/Schedule/GetArrangedCoach', { routeID: routes.val() }, function (data) {
                $(data).each(function () {
                    $("<option value=" + this.CoachID + ">" + this.NumberPlate + "</option>").appendTo(coaches);
                });
            });
        });
        coaches.change(function () {
            arranger.find('option').remove();
            $.getJSON('/Schedule/GetArrangeID', { routeID: routes.val(), coachID: coaches.val() }, function (data) {
                $(data).each(function () {
                    $("<option value=" + this.ArrangeID + ">" + this.ArrangeID + "</option>").appendTo(arranger);
                });
            });
        });
    });    
</script>
