@model IEnumerable<Captone.Models.Schedule>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table display KeyTable dataTable" id="TableSchedules" aria-describedby="example_info">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="chkAll" value="All" id="chkAll" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoachArrangement.Route.RouteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoachArrangement.Coach.NumberPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimateDepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimateArrivalTime)
                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="1" class="sid" />
                    </td>
                    <td style="display: none;">
                        @item.ScheduleID
                    </td>
                    <td style="display: none;">
                        @item.CoachArrangement.Route.RouteID
                    </td>
                    <td style="display: none;">
                        @item.CoachArrangement.Coach.CoachID
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachArrangement.Route.RouteName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachArrangement.Coach.NumberPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimateDepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimateArrivalTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CoachArrangement.Coach.CoachType.Capacity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $("document").ready(function () {
        $("#chkAll").click(function () {
            var checked = $(this).is(':checked');
            $(".sid").attr("checked", checked);
        });
        $(".sid").click(function () {
            var valid = true;
            $(".sid").each(function () {
                var checked = $(this).is(':checked');
                if (!checked) {
                    valid = false;
                }
            });
            $("#chkAll").attr("checked", valid);
        });
    });

    window.onload = loadTable();

    function loadTable() {
        var oTable = $('#TableSchedules').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bSort": true,
            "bPaginate": true,
            "bLengthChange": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('TableSchedules'),
            "datatable": oTable,
            "bPaginate": true,
            "bLengthChange": true,
            "sPaginationType": "full_numbers"
        });
    }
</script>

