@model IEnumerable<Captone.Models.AssigningModel>
@{
    ViewBag.Title = "RequestPeding";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Tên đăng nhập</th>
            <th>Ngày khởi hành</th>
            <th>Chuyến đã xếp</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th><input type="checkbox" id="selectall" value="Select All"/></th>
            <th></th>
        </tr>
        <tbody>

            @foreach (var item in ViewBag.Assign)
            {
                <tr id="">
                    <td style="display: none">
                        @item.RequestID
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        <button class="btn btn-default example" data-placement="right" data-toggle="popover" data-container="body" type="button" data-original-title="" data-content=""data-trigger="click" id="" onclick="ListTrip(@item.RequestID);">Chi tiết chuyến đi</button>
                    </td>
                    <td style="display: none">@item.ToLocation</td>
                    <td style="display: none">@item.SenderPhone</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="checkbox" name="Requests" class="case"/></td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" href="#">Xác nhận chuyển đi</a>
</div>
<script type="text/javascript">
    $('.example').popover({
        html: true,
        placement: 'right',
        title: '<div id="trip-name"></div>',
        content: '<div id="trip-for" class="table-responsive"></div>',
        trigger: 'click'
    });
    $(document).ready(function () {
        $('#selectall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.case').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"  
                });
            } else {
                $('.case').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });

    });    

    function ListTrip(id) {
        $.ajax({
            url: "/Assigning/ListTripPeding",
            type: "POST",
            data: { requestId: id },
            success: function (result) {
                getLocation(id);
                $("#trip-for").html(result);
                $('#ListTripPeding input:checkbox').attr('checked', 'checked');
                CheckRequestLate();
            }
        });
    }

    function getLocation(id) {
        $.ajax({
            url: "/Assigning/GetFromToLocation",
            type: "POST",
            data: { requestId: id },
            success: function (result) {
                $("#trip-name").html(result);
            }
        });
    }

</script>


