@model Captone.Models.InvoiceModel
<div class="headerH2">
        <b><p class="pContent">Payment summary</p></b>
        <p></p>
    </div>
<div class="table-responsive">
    <table class="table">
        <th>
            Mã thanh toán
        </th>
        <th>
            Người yêu cầu
        </th>
        <th>
            Khối lượng (kg)
        </th>
        <th>
            Thể tích (m3)
        </th>
        <th>
            Giá (VNĐ)
        </th>
        <th>
            Ngày giao dịch
        </th>
        <tbody>
            <td>
                @Model.Request.RequestCode
            </td>
            <td>
                @Model.Request.Username
            </td>
            <td>
                @Model.Invoice.Weight
            </td>
            <td>
                @Model.Invoice.Volume
            </td>
            <td>
                @Model.Invoice.Price
            </td>
            <td>
                @DateTime.Now
            </td>
        </tbody>
    </table>
</div>
<p align="center">
    <img src="~/Content/img/paypal.png" onclick="window.location.href='../Paypal/ValidateCommand?RequestID=@Model.Request.RequestID'" title="Bấm vào để chuyển đến trang Paypal"/>
</p>