@model IEnumerable<Captone.Models.Station>

@foreach (var item in Model)
{
    <input type="hidden" id="StationID" value="@item.StationID"/>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="@item.Province">
            <div class="list-group">
                <div class="list-group-item" style="height: 100px">
                    <i class="fa fa-building-o fa-fw"></i>@item.StationName
                    <span class="pull-right text-muted small"><i class="fa fa-phone fa-fw"></i>@item.StationPhone</span>
                    <br />
                    <div id="detail">
                        @item.StationLocation
                    </div>
                    <a data-toggle="modal" id="@item.StationID" data-target="#myModal" class="btn btn-primary btn-large"  style="float: right" onclick="DetailsStation(this.id);">Chi tiết</a>
                    
                </div>
            </div>

        </div>
    </div>
}

<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin trạm</h4>
            </div>
            <div class="modal-body bodyFix">
                <div id="detailsStation">
                   
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">

    function DetailsStation(id) {
       
        $.ajax({
            url: "/Home/DetailsStation",
            type: "POST",
            data: { StationID: id },
            success: function (result) {
                $("#detailsStation").html(result);
            }
        });
    }
</script>
